{:paths ["src" "vendor" "resources" "test"]
 :deps
 {penpot/common       {:local/root "../common"}
  binaryage/devtools  {:mvn/version "RELEASE"}
  metosin/reitit-core {:mvn/version "0.5.15"}
  funcool/beicon      {:mvn/version "2021.07.05-1"}
  }
 :aliases
 {:outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                ;; org.slf4j/slf4j-nop {:mvn/version "RELEASE"}
                }
   :main-opts ["-m" "antq.core"]}

  :dev
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.16.9"}}}

  :shadow-cljs
  {:main-opts ["-m" "shadow.cljs.devtools.cli"]}

  }}

