{:dependencies
 [[com.cognitect/transit-cljs "0.8.269"]
  [danlentz/clj-uuid "0.1.9"]
  [frankiesardo/linked "1.3.0"]
  [funcool/cuerdas "2021.05.02-0"]
  [funcool/promesa "6.0.0"]
  [integrant/integrant "0.8.0"]
  [lambdaisland/glogi "1.0.106"]
  [lambdaisland/uri "1.4.54"]
  [metosin/reitit-core "0.5.13"]]

 :source-paths ["src" "vendor" "../common"]
 :jvm-opts ["-Xmx512m" "-Xms50m" "-XX:+UseSerialGC"]

 :builds
 {:main
  {:target :node-script
   :main app.core/main
   :output-to "target/app.js"
   :output-dir "target/app/"
   :devtools {:before-load-async app.core/stop
              :after-load app.core/start}

   :compiler-options
   {:output-feature-set :es8
    :output-wrapper false}

   :release
   {:closure-defines {goog.debug.LOGGING_ENABLED true}
    :compiler-options
    {:fn-invoke-direct true
     :source-map true
     :optimizations :simple
     :pseudo-names true
     :pretty-print true
     :anon-fn-naming-policy :off
     :source-map-detail-level :all}}}}}
