version: "3"

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.177.9.0/24

volumes:
  postgres_data:
  user_data:

services:
  main:
    profiles: ["full"]
    privileged: true
    image: "penpotapp/devenv:latest"
    build:
      context: "."
    container_name: "penpot-devenv-main"
    stop_signal: SIGINT

    depends_on:
      - postgres
      - redis

    volumes:
      - "user_data:/home/penpot/"
      - "${PWD}:/home/penpot/penpot"

    ports:
      - 3447:3447
      - 3448:3448
      - 3449:3449
      - 6060:6060
      - 6061:6061
      - 9090:9090

    environment:
      - EXTERNAL_UID=${CURRENT_USER_ID}
      - PENPOT_SECRET_KEY=super-secret-devenv-key
      # SMTP setup
      - PENPOT_SMTP_ENABLED=true
      - PENPOT_SMTP_DEFAULT_FROM=no-reply@example.com
      - PENPOT_SMTP_DEFAULT_REPLY_TO=no-reply@example.com
      - PENPOT_SMTP_HOST=mailer
      - PENPOT_SMTP_PORT=1025
      - PENPOT_SMTP_USERNAME=
      - PENPOT_SMTP_PASSWORD=
      - PENPOT_SMTP_SSL=false
      - PENPOT_SMTP_TLS=false
      - PENPOT_FLAGS="enable-cors enable-insecure-register enable-terms-and-privacy-checkbox"

      # LDAP setup
      - PENPOT_LDAP_HOST=ldap
      - PENPOT_LDAP_PORT=10389
      - PENPOT_LDAP_SSL=false
      - PENPOT_LDAP_STARTTLS=false
      - PENPOT_LDAP_BASE_DN=ou=people,dc=planetexpress,dc=com
      - PENPOT_LDAP_BIND_DN=cn=admin,dc=planetexpress,dc=com
      - PENPOT_LDAP_BIND_PASSWORD=GoodNewsEveryone
      - PENPOT_LDAP_ATTRS_USERNAME=uid
      - PENPOT_LDAP_ATTRS_EMAIL=mail
      - PENPOT_LDAP_ATTRS_FULLNAME=cn
      - PENPOT_LDAP_ATTRS_PHOTO=jpegPhoto

  backend:
    profiles: ["backend"]
    privileged: true
    image: "penpotapp/devenv:latest"
    build:
      context: "."
    container_name: "penpot-backend"
    stop_signal: SIGINT

    depends_on:
      - postgres
      - redis

    volumes:
      - "user_data:/home/penpot/"
      - "${PWD}:/home/penpot/penpot"

    ports:
      - 6060:6060
      - 6061:6061
      - 9090:9090

    environment:
      - EXTERNAL_UID=${CURRENT_USER_ID}
      - PENPOT_SECRET_KEY=super-secret-devenv-key
      # SMTP setup
      - PENPOT_SMTP_ENABLED=true
      - PENPOT_SMTP_DEFAULT_FROM=no-reply@example.com
      - PENPOT_SMTP_DEFAULT_REPLY_TO=no-reply@example.com
      - PENPOT_SMTP_HOST=mailer
      - PENPOT_SMTP_PORT=1025
      - PENPOT_SMTP_USERNAME=
      - PENPOT_SMTP_PASSWORD=
      - PENPOT_SMTP_SSL=false
      - PENPOT_SMTP_TLS=false
      - PENPOT_FLAGS="enable-cors"

      # LDAP setup
      - PENPOT_LDAP_HOST=ldap
      - PENPOT_LDAP_PORT=10389
      - PENPOT_LDAP_SSL=false
      - PENPOT_LDAP_STARTTLS=false
      - PENPOT_LDAP_BASE_DN=ou=people,dc=planetexpress,dc=com
      - PENPOT_LDAP_BIND_DN=cn=admin,dc=planetexpress,dc=com
      - PENPOT_LDAP_BIND_PASSWORD=GoodNewsEveryone
      - PENPOT_LDAP_ATTRS_USERNAME=uid
      - PENPOT_LDAP_ATTRS_EMAIL=mail
      - PENPOT_LDAP_ATTRS_FULLNAME=cn
      - PENPOT_LDAP_ATTRS_PHOTO=jpegPhoto

  postgres:
    image: postgres:13
    command: postgres -c config_file=/etc/postgresql.conf
    restart: always
    stop_signal: SIGINT
    environment:
      - POSTGRES_INITDB_ARGS=--data-checksums
      - POSTGRES_DB=penpot
      - POSTGRES_USER=penpot
      - POSTGRES_PASSWORD=penpot
    volumes:
      - ./files/postgresql.conf:/etc/postgresql.conf
      - ./files/postgresql_init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:5.0.7
    hostname: "penpot-devenv-redis"
    container_name: "penpot-devenv-redis"
    restart: always

  mailer:
    image: sj26/mailcatcher:latest
    restart: always
    expose:
      - '1025'
    ports:
      - "1080:1080"

  # https://github.com/rroemhild/docker-test-openldap
  ldap:
    image: rroemhild/test-openldap:2.1
    expose:
      - '10389'
      - '10636'
    ports:
      - "10389:10389"
      - "10636:10636"
