version: "3"

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.177.09.0/24

volumes:
  postgres_data:
  user_data:

services:
  main:
    privileged: true
    image: "penpotapp/devenv:latest"
    build:
      context: "."
    container_name: "penpot-devenv-main"
    stop_signal: SIGINT

    depends_on:
      - postgres
      - redis

    volumes:
      - "user_data:/home/penpot/"
      - "${PWD}:/home/penpot/penpot"
      - ./files/nginx.conf:/etc/nginx/nginx.conf

    ports:
      - 3447:3447
      - 3448:3448
      - 3449:3449
      - 6060:6060
      - 6061:6061
      - 9090:9090

    environment:
      - PENPOT_DATABASE_URI=postgresql://postgres/penpot
      - PENPOT_DATABASE_USERNAME=penpot
      - PENPOT_DATABASE_PASSWORD=penpot
      - PENPOT_REDIS_URI=redis://redis/0
      - EXTERNAL_UID=${CURRENT_USER_ID}
      # STMP setup
      - PENPOT_SMTP_ENABLED=true
      - PENPOT_SMTP_DEFAULT_FROM=no-reply@example.com
      - PENPOT_SMTP_DEFAULT_REPLY_TO=no-reply@example.com
      - PENPOT_SMTP_HOST=mailer
      - PENPOT_SMTP_PORT=1025
      - PENPOT_SMTP_USERNAME=
      - PENPOT_SMTP_PASSWORD=
      - PENPOT_SMTP_SSL=false
      - PENPOT_SMTP_TLS=false
      # LDAP setup
      - PENPOT_LDAP_HOST=ldap
      - PENPOT_LDAP_PORT=10389
      - PENPOT_LDAP_SSL=false
      - PENPOT_LDAP_STARTTLS=false
      - PENPOT_LDAP_BASE_DN=ou=people,dc=planetexpress,dc=com
      - PENPOT_LDAP_BIND_DN=cn=admin,dc=planetexpress,dc=com
      - PENPOT_LDAP_BIND_PASSWORD=GoodNewsEveryone
      - PENPOT_LDAP_USERNAME_ATTRIBUTE=uid
      - PENPOT_LDAP_EMAIL_ATTRIBUTE=mail
      - PENPOT_LDAP_FULLNAME_ATTRIBUTE=displayName
      - PENPOT_LDAP_AVATAR_ATTRIBUTE=jpegPhoto

  postgres:
    image: postgres:13
    command: postgres -c config_file=/etc/postgresql.conf
    container_name: "penpot-devenv-postgres"
    restart: always
    stop_signal: SIGINT
    environment:
      - POSTGRES_INITDB_ARGS=--data-checksums
      - POSTGRES_DB=penpot
      - POSTGRES_USER=penpot
      - POSTGRES_PASSWORD=penpot
    volumes:
      - ./files/postgresql.conf:/etc/postgresql.conf
      - ./files/postgresql_init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:6
    hostname: "penpot-devenv-redis"
    container_name: "penpot-devenv-redis"
    restart: always

  mailer:
    image: sj26/mailcatcher:latest
    hostname: mautic-mailer
    container_name: mautic-mailer
    restart: always
    expose:
      - '1025'
    ports:
      - "1080:1080"

  ldap:
    image: rroemhild/test-openldap:2.1
    container_name: mautic-ldap
    hostname: mautic-ldap
    expose:
      - '10389'
      - '10636'
    ports:
      - "10389:10389"
      - "10636:10636"
