
<aside id="activity-bar" class="activity-bar">
  <div class="activity-bar-inside">
    <h4>ACTIVITY</h4><span class="date-ribbon">TODAY</span>
    <div class="activity-input"><img src="../../images/avatar.jpg" border="0" class="activity-author"/>
      <div class="activity-content"><span class="bold">Michael Buchannon</span><span>created new page</span>
        <div class="activity-project"><a href="#">Contact</a><span>in</span><a href="#">Wireframes Taiga Tribe</a></div><span class="activity-time">12 min ago</span>
      </div>
    </div>
    <div class="activity-input"><img src="../../images/avatar.jpg" border="0" class="activity-author"/>
      <div class="activity-content"><span class="bold">Michael Buchannon</span><span>created new page</span>
        <div class="activity-project"><a href="#">Contact</a><span>in</span><a href="#">Wireframes Taiga Tribe</a></div><span class="activity-time">12 min ago</span>
      </div>
    </div><span class="date-ribbon">YESTERDAY</span>
    <div class="activity-input"><img src="../../images/avatar.jpg" border="0" class="activity-author"/>
      <div class="activity-content"><span class="bold">Michael Buchannon</span><span>created new page</span>
        <div class="activity-project"><a href="#">Contact</a><span>in</span><a href="#">Wireframes Taiga Tribe</a></div><span class="activity-time">12 min ago</span>
      </div>
    </div>
    <div class="activity-input"><img src="../../images/avatar.jpg" border="0" class="activity-author"/>
      <div class="activity-content"><span class="bold">Michael Buchannon</span><span>created new page</span>
        <div class="activity-project"><a href="#">Contact</a><span>in</span><a href="#">Wireframes Taiga Tribe</a></div><span class="activity-time">12 min ago</span>
      </div>
    </div>
  </div>
</aside>