
<head>
  <meta charset="utf-8"/>
  <title>UXBOX</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="UXBOX, the Open Source prototyping tool"/>
  <meta name="keywords" content="Prototyping, Wireframing, User, Experience"/>
  <meta name="viewport" content="width=device-width, user-scalable=no"/>
  <link href="/styles/main.css" rel="stylesheet"/>
  <script src="/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="/scripts/application.js" type="text/javascript"></script>
</head>