---
title: Export & Import
order: 7
desc: Begin with the Penpot user guide! Get quickstarts, shortcuts, and tutorials. Learn the interface, layers, objects, styling, and more.
---

<h1 id="export-import">Export & Import</h1>

<ul class="intro-sections">
  <li>
    <a href="/user-guide/export-import/export-import-files/">
      <h2>Export/Import Penpot files →</h2>
      <p>How to export and import your Penpot files</p>
    </a>
  </li>
    <li>
    <a href="/user-guide/export-import/exporting-layers/">
      <h2>Exporting layers →</h2>
      <p>How to export elements from your design into different file formats</p>
    </a>
  </li>
</ul>
