---
title: 13· View mode
desc: Present designs and share prototypes with Penpot's View mode! Play interactions, navigate boards, zoom, and toggle fullscreen. Try it for free!
---

<h1 id="viewmode">View mode</h1>
<p class="main-paragraph">At Penpot, the View mode is the best place to present your designs. You will also be able to share them and play the interactions.<p>

<h3 id="viewmode-interface">View mode interface</h3>
<p>Take a look at the anatomy of the View mode at this section: <a href="/user-guide/the-interface/#interface-viewmode">View mode interface</a>.</p>
<figure>
  <a href="/img/interface/viewmode-dark.webp" target="_blank">
    <img src="/img/interface/viewmode-dark.webp" alt="Penpot's viewmode" />
  </a>
</figure>

<h3 id="viewmode-launch">Launch View mode</h3>
<p>To view your designs from the workspace at View mode click the play button at the top right of the navbar or press <kbd>G</kbd> <kbd>V</kbd>.</p>
<p><strong>Note:</strong> the View mode shows only boards and their contents. Anything outside a board will not be shown at the View mode.</p>
<figure>
  <img src="/img/viewmode/viewmode-play.webp" alt="Penpot's viewmode" />
</figure>

<h3 id="viewmode-features">Features and options</h3>
<p>You'll find different capabilities and options to help you present and test your designs.</p>
<h4>Navigate boards</h4>
<p>You can navigate through boards by pressing the <kbd>→</kbd> and <kbd>←</kbd> keyboard keys or the navigation buttons at the right and left of the screen.</p>

<h4>Play prototype interactions</h4>
<p>The View mode is the place where you will be able to play prototype interactions. (<a href="/user-guide/prototyping/">More about prototyping interactions</a>).</p>

<h4>Interactions view settings</h4>
<p>This setting allows you to decide how to show a visual cue for interactions: always, on click or just don't show.</p>
<figure>
  <img src="/img/viewmode/viewmode-interactions.webp" alt="Penpot's viewmode" />
</figure>

<h4>Boards list</h4>
<p>Display the boards list by clicking on the board name at the header and have a nice overview of all the available boards at this page.</p>
<figure>
  <img src="/img/viewmode/viewmode-boards.webp" alt="Penpot's viewmode" />
</figure>

<h4>Pages list</h4>
<p>Click at the page name at the header to display the pages menu and change between them.</p>
<figure>
  <img src="/img/viewmode/viewmode-pages.webp" alt="Penpot's viewmode" />
</figure>

<h4>Zooming options</h4>
<ul>
  <li>Reset zoom to 100% <kbd>Shift+0</kbd></li>
  <li>Toggle zoom style (Scale down to fit / Scale to fill) <kbd>F</kbd></li>
  <li>Zoom in <kbd>+</kbd></li>
  <li>Zoom out <kbd>-</kbd></li>
</ul>

<h4>Full screen</h4>
<p>Toogle fullscreen <kbd>Shift+F</kbd></p>

<h4>Comments mode</h4>
<p>Activate the <a href="/user-guide/view-mode/#viewmode-comments">comments</a> by pressing its button at the top navbar.</p>
<p>Comments mode will not always be available in view mode shared links, this will depend on the link settings.</p>

<h4>Inspect mode</h4>
<p>Activate the <a href="/user-guide/view-mode/#viewmode-inspect">inspect mode</a> by pressing its button at the top navbar.</p>
<p>Inspect mode will not always be available in view mode shared links, this will depend on the link settings.</p>


<h2 id="viewmode-comments">Comments</h3>
<p>You can activate comments at the View mode by pressing the comments icon at the top navbar.</p>
<p class="advice">At the View mode only boards are shown so the comments that are placed outside boards will not be shown here.</p>
<figure>
  <img src="/img/viewmode/viewmode-comment.webp" alt="Penpot's viewmode" />
</figure>


<h2 id="viewmode-sharing">Share prototypes links</h3>
<p>A "Share prototype link" is a public url that you can share so that someone can see the prototype regardless of whether they have a Penpot account.</p>
<p>The Share prototype window can be found at the View mode and you can launch it using the "Share button".</p>
<h4>Get link</h4>
<p>To create a link press the button "Get link" and the link will be automatically created.</p>
<figure>
  <img src="/img/viewmode/viewmode-share-create.webp" alt="Penpot's viewmode" />
</figure>

<h4>Copy link</h4>
<p>To copy the link you can copy the url or press the copy button.</p>
<figure>
  <img src="/img/viewmode/viewmode-share-copy.webp" alt="Penpot's viewmode" />
</figure>

<h4>Destroy link</h4>
<p>To <strong>destroy a link</strong> press the button "Destroy link" and confirm the action. The link will cease to exist and will be no longer available, so be careful if you've already shared it. However, you can always create a new one.</p>
<figure>
  <img src="/img/viewmode/viewmode-share-destroy.webp" alt="Penpot's viewmode" />
</figure>

<p class="advice"><strong>Tip:</strong> Add your preferred "Interactions" setting (show / don't show / show on click) before creating the Share prototype link. This way the link will keep your selection.</p>

<h4>Manage permissions:</h4>
<p>You can create a different link for each set of permissions. Click on "Manage permissions" to edit the link permissions.</p>
<ul>
<li><strong>Pages shared</strong>: Select the pages that will be availble at the link.</li>
<li><strong>Can comment</strong>: allow comments to users that are not in the team where the file belongs.</li>
<li><strong>Can inspect code</strong>: allow code inspection to users that are not in the team where the file belongs.</li>
</ul>
<figure>
  <img src="/img/viewmode/viewmode-share-options.webp" alt="Penpot's viewmode" />
</figure>
<p class="advice">Allowing to share a "view only" workspace is in our plans and will come soon.</p>


<h2 id="viewmode-inspect">Inspect designs</h3>
<p>You can activate the Inspect mode from the View mode. Click the code button at the middle of the navbar. Then you will see two sidebars:</p>
<ul>
<li>On the <strong>left sidebar</strong> you can see the layers tree. Select a layer to inspect it.</li>
<li>At the <strong>right sidebar:</strong> you can switch between Info and Code tabs to get design specifications or code.</li>
</ul>
<p><a href="/user-guide/inspect/">More about inspecting designs</a></p>
<figure>
  <video title="A video showing how to activate Inspect at the View mode" muted="" playsinline="" controls="" width="100%" poster="/img/inspect/inspect-viewmode.webp" height="auto">
    <source src="/img/inspect/inspect-viewmode.mp4" type="video/mp4">
  </video>
</figure>
