{:paths ["src" "vendor" "resources" "test"]
 :deps
 {penpot/common
  {:local/root "../common"}

  binaryage/devtools {:mvn/version "RELEASE"}
  metosin/reitit-core {:mvn/version "0.5.15"}

  funcool/beicon {:mvn/version "2021.07.05-1"}
  funcool/okulary {:mvn/version "2020.04.14-0"}
  funcool/potok {:mvn/version "2021.09.20-0"}
  funcool/rumext {:mvn/version "2021.05.12-1"}
  funcool/tubax {:mvn/version "2021.05.20-0"}

  instaparse/instaparse {:mvn/version "1.4.10"}
  }

 :aliases
 {:outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :dev
  {:extra-paths ["dev"]
   :extra-deps
   {thheller/shadow-cljs {:mvn/version "2.16.9"}
    cider/cider-nrepl {:mvn/version "0.27.4"}}}

  :shadow-cljs
  {:main-opts ["-m" "shadow.cljs.devtools.cli"]}

  }}

