{:paths ["src" "vendor" "resources" "../common"]
 :deps
 {org.clojure/clojurescript {:mvn/version "1.10.753"}
  org.clojure/clojure {:mvn/version "1.10.1"}
  com.cognitect/transit-cljs {:mvn/version "0.8.264"}

  environ/environ {:mvn/version "1.1.0"}
  metosin/reitit-core {:mvn/version "0.4.2"}
  expound/expound {:mvn/version "0.8.4"}

  danlentz/clj-uuid {:mvn/version "0.1.9"}

  funcool/beicon {:mvn/version "2020.03.29-1"}
  funcool/cuerdas {:mvn/version "2020.03.26-3"}
  funcool/lentes {:mvn/version "1.4.0-SNAPSHOT"}

  funcool/okulary {:mvn/version "2020.04.14-0"}
  funcool/potok {:mvn/version "2.8.0-SNAPSHOT"}
  funcool/promesa {:mvn/version "5.1.0"}
  funcool/rumext {:mvn/version "2020.05.04-0"}
  }
 :aliases
 {:dev
  {:extra-paths ["tests" "dev"]
   :extra-deps
   {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
    com.bhauman/rebel-readline {:mvn/version "0.1.4"}
    org.clojure/tools.namespace {:mvn/version "0.3.1"}

    metosin/jsonista {:mvn/version "0.2.5"}
    funcool/datoteka {:mvn/version "1.2.0"}
    binaryage/devtools {:mvn/version "RELEASE"}

    thheller/shadow-cljs {:mvn/version "2.8.93"}

    ;; i18n parsing
    carocad/parcera {:mvn/version "0.11.0"}
    org.antlr/antlr4-runtime {:mvn/version "4.7"}}}

  :outdated
  {:extra-deps {olical/depot {:mvn/version "RELEASE"}}
   :main-opts ["-m" "depot.outdated.main"]}

  :repl
  {:main-opts  ["-m" "rebel-readline.main"]}

  }}

