{:deps {:aliases [:dev]}
 :dev-http {3449 "classpath:public"}
 :http {:port 3448}
 :nrepl {:port 3447}

 :builds
 {:main
  {:target :browser
   :output-dir "resources/public/js/"
   :asset-path "/js"
   :devtools {:browser-inject :main}

   :modules
   {:shared {:entries []}
    :main {:entries [uxbox.main]
           :depends-on #{:shared}}
    :worker {:entries [uxbox.worker]
             :web-worker true
             :depends-on #{:shared}}}
   :compiler-options
   {:output-feature-set :es8
    :output-wrapper false}
   :release
   {:output-dir "target/dist/js"
    :compiler-options
    {:fn-invoke-direct true
     :source-map true
     :anon-fn-naming-policy :off
     :source-map-detail-level :all}}}}}
