root = true

[*.{cljs,cljc,clj,js,css,scss,html,yml,yaml,json,mustache}]
charset = utf-8

indent_size = 2
indent_style = space

end_of_line = lf

insert_final_newline = true

trim_trailing_whitespace = true

[*.{rs}]
indent_size = 4
indent_style = space

end_of_line = lf
