/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-failures
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
/hicv/
/dist/
node_modules
/resources/public/css
/resources/public/js
/resources/public/index.html
/resources/public/preview/index.html
/*-init.clj