@use "./colors.scss";

.story-wrapper {
  display: grid;
  row-gap: 1rem;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16px);
  gap: 1rem;
  color: var(--color-foreground-primary);
}
