:root {
  background-color: #333;
  color: #eee;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100cqw;
}

.text-editor-container {
  background-color: white;
}

.playground {
  display: grid;
  max-width: 1280px;
}
