{:mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}
  "jcenter" {:url "https://jcenter.bintray.com/"}}
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.773"}
  org.clojure/data.json {:mvn/version "1.0.0"}
  org.clojure/core.async {:mvn/version "1.3.610"}

  ;; Logging
  org.clojure/tools.logging {:mvn/version "1.1.0"}
  org.apache.logging.log4j/log4j-api {:mvn/version "2.14.0"}
  org.apache.logging.log4j/log4j-core {:mvn/version "2.14.0"}
  org.apache.logging.log4j/log4j-web {:mvn/version "2.14.0"}
  org.apache.logging.log4j/log4j-jul {:mvn/version "2.14.0"}
  org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.14.0"}
  org.slf4j/slf4j-api {:mvn/version "1.7.30"}

  io.prometheus/simpleclient {:mvn/version "0.9.0"}
  io.prometheus/simpleclient_hotspot {:mvn/version "0.9.0"}
  io.prometheus/simpleclient_httpserver {:mvn/version "0.9.0"}

  selmer/selmer {:mvn/version "1.12.31"}
  expound/expound {:mvn/version "0.8.7"}
  com.cognitect/transit-clj {:mvn/version "1.0.324"}

  io.lettuce/lettuce-core {:mvn/version "5.2.2.RELEASE"}
  java-http-clj/java-http-clj {:mvn/version "0.4.1"}

  info.sunng/ring-jetty9-adapter {:mvn/version "0.14.1"}
  seancorfield/next.jdbc {:mvn/version "1.1.613"}
  metosin/reitit-ring {:mvn/version "0.5.10"}
  org.postgresql/postgresql {:mvn/version "42.2.18"}
  com.zaxxer/HikariCP {:mvn/version "3.4.5"}

  funcool/log4j2-clojure {:mvn/version "2020.11.23-1"}
  funcool/datoteka {:mvn/version "1.2.0"}
  funcool/promesa {:mvn/version "6.0.0"}
  funcool/cuerdas {:mvn/version "2020.03.26-3"}

  buddy/buddy-core {:mvn/version "1.9.0"}
  buddy/buddy-hashers {:mvn/version "1.7.0"}
  buddy/buddy-sign {:mvn/version "3.3.0"}

  lambdaisland/uri {:mvn/version "1.4.54"
                    :exclusions [org.clojure/data.json]}

  frankiesardo/linked {:mvn/version "1.3.0"}
  danlentz/clj-uuid {:mvn/version "0.1.9"}
  org.jsoup/jsoup {:mvn/version "1.13.1"}
  org.im4java/im4java {:mvn/version "1.4.0"}
  org.lz4/lz4-java {:mvn/version "1.7.1"}
  commons-io/commons-io {:mvn/version "2.8.0"}
  com.sun.mail/jakarta.mail {:mvn/version "2.0.0"}

  puppetlabs/clj-ldap {:mvn/version"0.3.0"}
  integrant/integrant {:mvn/version "0.8.0"}

  ;; exception printing
  io.aviso/pretty {:mvn/version "0.1.37"}

  mount/mount {:mvn/version "0.1.16"}
  environ/environ {:mvn/version "1.2.0"}}
 :paths ["dev" "src" "resources" "../common" "common"]
 :aliases
 {:dev
  {:extra-deps
   {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
    org.clojure/tools.namespace {:mvn/version "1.1.0"}
    org.clojure/test.check {:mvn/version "1.1.0"}
    clj-kondo/clj-kondo {:mvn/version "RELEASE"}

    fipp/fipp {:mvn/version "0.6.23"}
    criterium/criterium {:mvn/version "0.4.6"}
    mockery/mockery {:mvn/version "0.1.4"}}
   :extra-paths ["tests"]}

  ;; :fn-media-loader
  ;; {:exec-fn app.cli.media-loader/run
  ;;  :args {}}

  :fn-fixtures
  {:exec-fn app.cli.fixtures/run
   :args {}}

  :lint
  {:main-opts ["-m" "clj-kondo.main"]}

  :tests
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}}
   :main-opts ["-m" "kaocha.runner"]}

  :outdated
  {:extra-deps {antq/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :jmx-remote
  {:jvm-opts ["-Dcom.sun.management.jmxremote"
              "-Dcom.sun.management.jmxremote.port=9090"
              "-Dcom.sun.management.jmxremote.rmi.port=9090"
              "-Dcom.sun.management.jmxremote.local.only=false"
              "-Dcom.sun.management.jmxremote.authenticate=false"
              "-Dcom.sun.management.jmxremote.ssl=false"
              "-Djava.rmi.server.hostname=localhost"]}

  }}
