{:mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}
  "jcenter" {:url "https://jcenter.bintray.com/"}}
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  funcool/promesa {:mvn/version "5.1.0"}
  funcool/cuerdas {:mvn/version "2020.03.26-3"}

  ;; Logging
  org.clojure/tools.logging {:mvn/version "0.5.0"}
  org.apache.logging.log4j/log4j-api {:mvn/version "2.13.0"}
  org.apache.logging.log4j/log4j-core {:mvn/version "2.13.0"}
  org.apache.logging.log4j/log4j-jul {:mvn/version "2.13.0"}
  org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.13.0"}
  funcool/datoteka {:mvn/version "1.2.0"}
  expound/expound {:mvn/version "0.8.4"}
  instaparse/instaparse {:mvn/version "1.4.10"}
  com.cognitect/transit-clj {:mvn/version "0.8.319"}

  ;; TODO: vendorize pgclient under `vertx-clojure/vertx-pgclient`
  io.vertx/vertx-pg-client {:mvn/version "4.0.0-milestone4"}

  vertx-clojure/vertx
  {:local/root "vendor/vertx"
   :deps/manifest :pom}

  funcool/sodi
  {:local/root "vendor/sodi"
   :deps/manifest :pom}

  lambdaisland/uri {:mvn/version "1.1.0"}

  danlentz/clj-uuid {:mvn/version "0.1.9"}
  org.jsoup/jsoup {:mvn/version "1.12.1"}
  org.im4java/im4java {:mvn/version "1.4.0"}

  org.lz4/lz4-java {:mvn/version "1.7.1"}

  com.github.spullara.mustache.java/compiler {:mvn/version "0.9.6"}
  commons-io/commons-io {:mvn/version "2.6"}
  com.draines/postal {:mvn/version "2.0.3"
                      :exclusions [commons-codec/commons-codec]}

  ;; exception printing
  io.aviso/pretty {:mvn/version "0.1.37"}

  mount/mount {:mvn/version "0.1.16"}
  environ/environ {:mvn/version "1.1.0"}}
 :paths ["src" "resources" "../common" "common"]
 :aliases
 {:dev
  {:extra-deps
   {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
    org.clojure/tools.namespace {:mvn/version "1.0.0"}
    org.clojure/test.check {:mvn/version "1.0.0"}
    clj-kondo {:mvn/version "RELEASE"}

    fipp/fipp {:mvn/version "0.6.21"}
    criterium/criterium {:mvn/version "0.4.5"}
    mockery/mockery {:mvn/version "0.1.4"}}
   :extra-paths ["tests"]}

  :lint
  {:extra-deps {clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"]}

  :tests
  {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-581"}}
   :main-opts ["-m" "kaocha.runner"]}

  :ancient
  {:main-opts ["-m" "deps-ancient.deps-ancient"]
   :extra-deps {deps-ancient {:mvn/version "RELEASE"}}}

  :jmx-remote
  {:jvm-opts ["-Dcom.sun.management.jmxremote"
              "-Dcom.sun.management.jmxremote.port=9090"
              "-Dcom.sun.management.jmxremote.rmi.port=9090"
              "-Dcom.sun.management.jmxremote.local.only=false"
              "-Dcom.sun.management.jmxremote.authenticate=false"
              "-Dcom.sun.management.jmxremote.ssl=false"
              "-Djava.rmi.server.hostname=localhost"]}

  }}
