-- begin :subject
Bienvenue sur UXBOX.
-- end

-- begin :body-text
Bonjour {{user}}!

Bienvenue sur UXBOX.

L'équipe UXBOX.
-- end

-- begin :body-html
<p>Bonjour {{user}} !</p>
<p>Bienvenue sur UXBOX.</p>
<p>L'équipe UXBOX.</p>
-- end