---
title: Designing
order: 2
desc: Begin with the Penpot user guide! Get quickstarts, shortcuts, and tutorials. Learn the interface, layers, objects, styling, and more.
---

<h1  id="section-2">Designing</h1>

<ul class="intro-sections">
  <li>
    <a href="/user-guide/designing/workspace-basics">
      <h2>Workspace basics →</h2>
      <p>Workspace basics</p>
    </a>
  </li>
    <li>
    <a href="/user-guide/designing/layers">
      <h2>Layers →</h2>
      <p>Info of interest about Penpot</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/designing/color-stroke/">
      <h2>Color & Strokes→</h2>
      <p>Info of interest about Penpot</p>
    </a>
  </li>
    <li>
    <a href="/user-guide/designing/text-typo">
      <h2>Text & Typography→</h2>
      <p>Info of interest about Penpot</p>
    </a>
  </li>
    <li>
    <a href="/user-guide/designing/flexible-layouts">
      <h2>Flexible layouts →</h2>
      <p>Info of interest about Penpot</p>
    </a>
  </li>
</ul>
