@import "common/dependencies/colors";

$br0: 0;
$br3: 3px;
$br12: 12px;
$fs16: 1rem;

.grid-empty-placeholder {
  border-radius: $br12;
  display: grid;
  background-color: rgba(227, 227, 227, 0.3);
  padding: 13px;
  margin-right: 13px;
  height: 230px;
  &.loader {
    justify-items: center;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.libs {
    background-image: url(/images/ph-left.svg), url(/images/ph-right.svg);
    background-position:
      15% bottom,
      85% top;
    background-repeat: no-repeat;
    align-items: center;
    border: 1px dashed #b1b2b5;
    border-radius: $br3;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 1rem;
    padding: 3rem;
    justify-content: center;
    .text {
      p {
        max-width: 360px;
        text-align: center;
        font-size: $fs16;
      }
    }
  }
  .create-new {
    background-color: white;
    border: 2px solid $color-gray-10;
    border-radius: $br3;
    color: $color-black;
    cursor: pointer;
    height: 158px;
    font-family: "worksans", sans-serif;
    margin: 0.5rem;
    &:hover {
      border: 2px solid $color-primary;
    }
  }

  &.search {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    background: $color-white;
    border: 1px dashed #e3e3e3;
    border-radius: $br0;
  }

  svg {
    width: 36px;
    height: 36px;
    fill: $color-gray-20;
  }

  .text {
    margin-top: 10px;
    color: $color-gray-30;
    font-size: $fs16;
  }
}

.grid-empty-placeholder {
  background-color: transparent;

  .create-new {
    background-color: $db-tertiary;
    border-radius: 8px;
    border: none;
    color: $df-primary;
    text-transform: uppercase;

    &:hover {
      background-color: $db-cuaternary;
      color: $da-primary;
    }
  }

  &.search {
    border: 1px solid $db-cuaternary;
    border-radius: 8px;
    .text {
      color: $df-primary;
    }
    .icon {
      svg {
        fill: $df-secondary;
      }
    }
  }
}
