.not-found-layout {
  display: grid;

  grid-template-rows: 120px auto;
  grid-template-columns: 1fr;
}

.not-found-header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  display: flex;
  align-items: center;
  padding: 32px;

  svg {
    height: 55px;
    width: 170px;
  }

}

.not-found-content {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .error-img {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    svg {
      height: 320px;
      width: 200px;
    }
  }

  .main-message {
    color: $color-black;
    font-size: 11rem;
    line-height: 200px;
    text-align: center;
  }

  .desc-message {
    color: $color-black;
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
  }
}

