.viewer-layout {
  display: grid;
  grid-template-rows: 48px auto;
  grid-template-columns: 1fr;
  user-select: none;

  .viewer-header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .viewer-content {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

.fullscreen .viewer-layout:not(.force-visible) {
  & .viewer-header {
    width: 100%;
    position: fixed;
    top: -39px;
    left: 0;
    transition: top 400ms ease 300ms;
  }

  & .viewer-header:hover {
    top: 0;
    transition: top 200ms;
  }

  & .viewer-content {
    grid-row: 1 / span 2;
  }
}
