{:lint-as
 {promesa.core/let clojure.core/let
  rumext.alpha/defc clojure.core/defn
  rumext.alpha/fnc clojure.core/fn
  app.common.data/export clojure.core/def
  app.db/with-atomic clojure.core/with-open
  app.common.logging/with-context clojure.core/do}

 :hooks
 {:analyze-call
  {app.common.data/export hooks.export/export
   potok.core/reify hooks.export/potok-reify
   app.util.services/defmethod hooks.export/service-defmethod
   }}

 :output
 {:exclude-files
  ["data_readers.clj"
   "app/util/perf.cljs"
   "app/common/logging.cljc"
   "app/common/exceptions.cljc"]}

 :linters
 {:unsorted-required-namespaces
  {:level :warning}

  :potok/reify-type
  {:level :error}

  :unresolved-namespace
  {:level :warning
   :exclude [data_readers]}

  :single-key-in
  {:level :warning}

  :redundant-do
  {:level :off}

  :unused-binding
  {:exclude-destructured-as true
   :exclude-destructured-keys-in-fn-args false
   }
  }}

