.comments-section {
  .thread-bubble {
    position: absolute;
    display: flex;
    transform: translate(-15px, -15px);

    cursor: pointer;
    pointer-events: auto;
    background-color: $color-gray-10;
    color: $color-gray-60;
    border: 1px solid #B1B2B5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba($color-black, 0.25);

    font-size: $fs13;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    &.resolved {
      color: $color-gray-10;
      background-color: $color-gray-50;
    }

    &.unread {
      background-color: $color-primary;
    }
  }

  .thread-content {
    position: absolute;
    pointer-events: auto;
    margin-left: 10px;
    background: $color-white;
    border: 1px solid $color-gray-20;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba($color-black, 0.25);
    border-radius: 2px;
    min-width: 280px;
    max-width: 280px;

    .comments {
      max-height: 420px;
      min-height: 105px;
      overflow-y: auto;
    }

    hr {
      border: 0;
      height: 1px;
      background-color: $color-gray-20;
      margin: 0px 10px;
    }
  }

  .reply-form {
    display: flex;
    padding: 10px;
    flex-direction: column;

    &.edit-form {
      padding-bottom: 0px;
    }

    textarea {
      font-family: "worksans", sans-serif;
      font-size: $fs13;
      min-height: 32px;
      outline: none;
      overflow: hidden;
      padding: $small;
      resize: none;
      width: 100%;
      border-radius: 2px;
      border: 1px solid $color-gray-10;
    }

    .buttons {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;

      input {
        margin: 0px;
        font-size: $fs14;

        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  }

  .comment-container {
    position: relative;
  }

  .comment {
    display: flex;
    flex-direction: column;
    padding: $medium $small;

    .author {
      display: flex;
      align-items: center;
      height: 26px;
      max-height: 26px;
      position: relative;

      .name {
        display: flex;
        flex-direction: column;

        .fullname {
          font-weight: 700;
          color: $color-gray-60;
          font-size: $fs13;

          @include text-ellipsis;
          width: 174px;

        }
        .timeago {
          margin-top: -2px;
          font-size: $fs12;
          color: $color-gray-30;
        }
      }

      .avatar {
        display: flex;
        align-items: center;
        padding-right: 6px;

        img {
          border-radius: 50%;
          flex-shrink: 0;
          height: 24px;
          width: 24px;
        }
      }

      .options-resolve {
        position: absolute;
        right: 20px;
        top: 0px;
        width: 16px;
        height: 16px;

        cursor: pointer;

        svg {
          width: 16px;
          height: 16px;
          fill: $color-gray-30;
        }
      }

      .options {
        position: absolute;
        right: -2px;
        top: 2px;
        height: 16px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .options-icon {
          svg {
            width: 14px;
            height: 14px;
            fill: $color-black;
          }
        }

      }
    }

    .content {
      margin: $medium 0;
      font-size: $fs14;
      color: $color-black;
      .text {
        margin: 0 $small 0 26px;
        white-space: pre-wrap;
        display: inline-block;
      }
    }
  }


  .comment-options-dropdown {
    top: 7px;
    right: 7px;
    width: 150px;

    border: 1px solid #B1B2B5;
  }
}

.workspace-comment-threads-sidebar-header {
  display: flex;
  background-color: $color-black;
  height: 34px;
  align-items: center;
  padding: 0px 9px;
  color: $color-gray-10;
  font-size: $fs12;
  justify-content: space-between;

  .options {
    display: flex;
    margin-right: 3px;
    cursor: pointer;

    .label {
      padding-right: 8px;
    }

    .icon {
      display: flex;
      align-items: center;
    }

    svg {
      fill: $color-gray-10;
      width: 10px;
      height: 10px;
    }
  }

  .dropdown {
    top: 80px;
    right: 7px;
  }
}



.comment-threads-section {
  pointer-events: auto;

  .thread-groups {
    hr {
      border: 0;
      height: 1px;
      background-color: $color-gray-30;
      margin: 0px 0px;
    }
  }

  .thread-group {
    display: flex;
    flex-direction: column;
    font-size: $fs12;

    .section-title {
      margin: 0px 10px;
      margin-top: 15px;

      .icon {
        margin-right: 4px;
      }

      .label {
        &.filename {
          font-weight: 700;
        }
      }

      svg {
        fill: $color-gray-10;
        height: 10px;
        width: 10px;
      }
    }
  }

  .thread-bubble {
    position: unset;
    transform: unset;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    box-shadow: unset;
  }

  .comment {
    cursor: pointer;
    .author {
      margin-bottom: $medium;
      .name {
        display: flex;

        .fullname {
          width: unset;
          max-width: 170px;
          color: $color-gray-20;
          padding-right: 3px;
        }
        .timeago {
          margin-top: unset;
          color: $color-gray-20;
        }
      }
    }

    .content {
      margin-top: 0px;
      color: $color-white;

      &.replies {
        margin: 0 $small 0 26px;
        display: flex;
        .total-replies {
          margin-right: 9px;
          color: $color-info;
        }

        .new-replies {
          color: $color-primary;
        }
      }
    }
  }
}


.viewer-comments-container {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
}

.workspace-comments-container {
  width: 100%;
  height: 100%;
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  z-index: 1000;
  pointer-events: none;
  overflow: hidden;

  .threads {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.dashboard-comments-section {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-dashboard;
  border-radius: 3px;
  position: relative;

  .button {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-dashboard;
    border-radius: 3px;

    svg {
      width: 15px;
      height: 15px;
    }

    &.unread {
      background-color: $color-warning;
    }

    &.open {
      background-color: $color-black;
      svg { fill: $color-primary; }
    }
  }

  .dropdown {
    width: 280px;
    bottom: 35px;
    left: 0px;
    border-radius: 3px;
  }

  .header {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 0px 11px;

    h3 {
      font-weight: 400;
      color: $color-black;
      font-size: $fs14;
      line-height: $fs18;
      flex-grow: 1;
    }

    .close {
      display: flex;
      align-items: center;
    }


    svg {
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
    }
  }

  .thread-group {
    .section-title {
      color: $color-black;
    }
  }
  
  .comment {
    .author .name .fullname {
      color: $color-gray-40;
    }
    .content {
      color: $color-black;
    }
  }
}

.thread-groups-placeholder {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: $fs12;
  padding: $big;
  text-align: center;

  svg {
    fill: $color-gray-20;
    height: 24px;
    margin-bottom: $big;
    width: 24px;
  }
}

