.context-menu {
    position: relative;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.context-menu.is-open {
    position: relative;
    display: block;
    opacity: 1;
    visibility: visible;
}

.context-menu-items {
    background: $color-white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    left: -$size-4;
    min-width: 7rem;
    position: absolute;
    top: $size-3;
}

.context-menu-action {
    color: $color-black;
    display: block;
    font-size: 12px;
    padding: $size-2 $size-4;

    &:hover {
        color: $color-black;
        background: $color-gray-lightest;
    } 
}
