.dashboard-invite-modal {
  top: 72px;
  right: 13px;
  padding: 32px;
  box-shadow: 0px 4px 8px rgba($color-black, 0.25);
  border-radius: 8px;
  width: 400px;
  position: fixed;
  z-index: 16;
  &.hero {
    top: 218px;
    right: 35px;
  }

  form {
    width: 100%;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin: 4px 0px;
    .label {
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
  }

  .custom-input {
    width: 100%;
    height: 115px;
  }

  .custom-select {
    width: 180px;
    overflow: hidden;
    justify-content: normal;
    select {
      height: auto;
    }
  }

  .action-buttons {
    display: flex;
    margin-top: 16px;
    input[type="submit"] {
      margin-bottom: 0px;
    }
  }

  .title {
    color: $color-black;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .hint {
    font-size: 12px;

    &.hidden {
      display: none;
    }
  }

  svg {
    width: 12px;
    height: 12px;
    fill: $color-gray-20;
  }

  .error {
    background-color: #ffd9e0;
    width: 100%;
    display: flex;
    .icon {
      background-color: $color-danger;
      text-align: center;
      padding: 5px;
      svg {
        fill: $color-white;
        width: 20px;
        height: 20px;
        margin: 5px;
      }
    }
    .text {
      color: $color-black;
      padding: 5px;
      font-size: 12px;
    }
  }
}

.dashboard-team-members,
.dashboard-team-invitations {
  .empty-invitations {
    height: 156px;
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed $color-gray-20;
    margin-top: 16px;
  }

  .table-row {
    background-color: $color-white;
    height: 63px;
    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .table-field {
    &.name {
      width: 43%;
      min-width: 300px;
      display: flex;
      .member-info {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        .member-name {
          font-size: $fs16;
          .you {
            color: $color-gray-30;
            margin-left: 5px;
          }
        }
        .member-email {
          color: $color-gray-30;
          font-size: $fs12;
        }
      }

      .member-image {
        height: 32px;
        width: 32px;
        img {
          border-radius: 50%;
        }
      }
    }

    &.roles {
      flex-grow: 1;
      user-select: none;
      cursor: default;
      position: relative;
      .rol-selector {
        &.has-priv {
          border: 1px solid $color-gray-20;
          cursor: pointer;
        }
        min-width: 160px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2px;
        padding: 3px 8px;
        font-size: $fs14;
      }
    }

    &.actions {
      position: relative;
      .actions-dropdown {
        max-height: 30rem;
        min-width: 180px;
      }
    }

    &.status {
      .status-badge {
        color: $color-white;
        border-radius: 12px;
        min-width: 74px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.pending {
          background-color: $color-warning;
        }

        &.expired {
          background-color: $color-gray-20;
        }

        .status-label {
          font-size: $fs12;
        }
      }
    }
  }

  .dropdown {
    position: absolute;
    max-height: 30rem;
    overflow-y: auto;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 12;
    top: 30px;
    left: 6px;
    width: 155px;

    hr {
      margin: 0;
      border-color: $color-gray-10;
    }

    li {
      display: flex;
      align-items: center;
      color: $color-gray-60;
      cursor: pointer;
      font-size: $fs14;
      height: 31px;
      padding: 5px 16px;

      &.title {
        font-weight: 600;
        cursor: default;
      }

      &:hover {
        background-color: $color-primary-lighter;
      }
    }
  }
}

.dashboard-team-settings {
  .team-settings {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    svg {
      width: 20px;
      height: 20px;
    }

    .horizontal-blocks {
      display: flex;
      max-width: 1010px;
      justify-content: space-between;
      width: 100%;
    }

    .block {
      display: flex;
      max-width: 324px;
      width: 324px;
      background-color: $color-white;
      flex-direction: column;
      padding: 12px;

      .label {
        font-size: 13px;
        color: $color-gray-30;
      }
    }

    .info-block {
      position: relative;

      .name {
        margin-top: 10px;
        font-size: $fs24;
        color: $color-black;
        @include text-ellipsis;
        margin-right: 90px;
      }

      .icon {
        position: absolute;
        padding: 15px;
        width: 100px;
        height: 100px;
        right: 0px;
        top: 0px;

        img {
          border-radius: 50%;
          width: 70px;
          height: 70px;
        }

        .update-overlay {
          opacity: 0;
          cursor: pointer;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 71px;
          height: 71px;
          border-radius: 50%;
          color: $color-white;
          background: $color-primary-dark;
          z-index: 14;

          svg {
            fill: $color-white;
          }
        }

        &:hover {
          .update-overlay {
            opacity: 1;
            width: 72px;
            height: 72px;
            top: 14px;
            left: 14px;
          }
        }
      }
    }

    .owner-block {
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      svg {
        width: 12px;
        height: 12px;
        fill: $color-black;
      }

      .owner {
        margin-top: 5px;
        display: flex;
        align-items: center;
        color: $color-black;
        .icon {
          margin-right: 12px;
        }
      }

      .summary {
        margin-top: 5px;
        color: $color-black;
        .icon {
          padding: 0px 10px;
          margin-right: 12px;
        }
      }
    }

    .stats-block {
      svg {
        fill: $color-black;
      }

      .projects,
      .files {
        margin-top: 7px;
        display: flex;
        align-items: center;
        color: $color-black;

        .icon {
          display: flex;
          align-items: center;
          padding: 0px 2px;
          margin-right: 14px;
        }
      }
    }
  }
}
