.debug-preview {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.debug-icons-preview {
  display: flex;
  flex-wrap: wrap;

  .icon-item, .cursor-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    margin: 10px;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  .cursor-item {
      height: auto;
  }
}
