.dropdown {
  position: absolute;
  max-height: 30rem;
  background-color: $color-white;
  border-radius: $br2;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 12;

  hr {
    margin: 0 !important;
    border-color: $color-gray-10;
  }

  > li {
    display: flex;
    align-items: center;
    color: $color-gray-60;
    cursor: pointer;
    font-size: $fs14;
    height: 40px;
    padding: 5px 16px;

    &.warning {
      color: $color-danger;
    }

    svg {
      fill: $color-gray-20;
      height: 12px;
      width: 12px;
    }

    &.title {
      font-weight: $fw600;
      cursor: default;
    }

    &:hover {
      background-color: $color-primary-lighter;
    }

    &:focus {
      border: 1px black solid;
    }
  }

  &.with-check {
    > li {
      padding: 5px 10px;
    }

    > li:not(.selected) {
      svg {
        display: none;
      }
    }

    svg {
      fill: $color-gray-50;
    }

    .icon {
      display: flex;
      align-items: center;
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }
}
