.exception-layout {
  display: grid;

  grid-template-rows: 120px auto;
  grid-template-columns: 1fr;
}

.exception-header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  display: flex;
  align-items: center;
  padding: 32px;
  z-index: 1000;

  cursor: pointer;

  svg {
    height: 55px;
    width: 170px;
  }

}

.exception-content {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;


  .container {
    max-width: 600px;
  }

  .image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    svg {
      height: 220px;
      width: 220px;
    }
  }

  .main-message {
    color: $color-black;
    font-size: 5rem;
    line-height: 150px;
    text-align: center;
  }

  .desc-message {
    color: $color-black;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
  }

  .sign-info {
    margin-top: 20px;
    color: $color-black;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    b {
      font-weight: 400;
    }

    .btn-primary {
      margin-top: 15px;
    }
  }
}

