.modal-wrapper {}

.modal-overlay {
  align-items: center;
  background-color: $color-dark-bg;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.transparent {
    background-color: rgba($color-white, 0)
  }
}

.modal,
.generic-modal {
  background-color: $color-white;
  width: 565px;
  display: flex;
  position: relative;

  .close {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
    svg {
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
    }
  }

  .modal-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 100px;
  }

  .button-row {
    display: flex;
    justify-content: space-between;

    > button {
      font-size: $fs13;
    }
    > button:not(:first-child) {
      margin-left: 25px;
    }
  }
}

.change-email-modal {
  h2 {
    font-size: $fs14;
    margin-bottom: 20px;
  }

  .confirmation {
    .btn-primary {
      margin-bottom: 30px;
    }

    .featured-note .icon svg {
      fill: $color-success;
    }

  }
}

.confirm-dialog {
  background-color: $color-white;
  width: 23rem;

  .modal-content {
    padding: 20px 40px;
  }

  .dialog-title {
    font-size: 24px;
    color: $color-black;
    font-weight: normal;
    text-align: center;
  }

  .dialog-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    width: 100%;
  }

  .dialog-cancel-button {
    border: 1px solid $color-gray-30;
    background: $color-canvas;
    border-radius: 2px;
    padding: 0.5rem;
    margin-right: 1rem;
    justify-content: space-evenly;
    margin-bottom: 0;
    width: 100%;
    cursor: pointer;

    &:hover {
      background: $color-gray-20;
    }
  }

  .dialog-accept-button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $color-danger;
    background: $color-danger;
    color: $color-white;
    margin-bottom: 0;
    cursor: pointer;

    &:hover {
      background: $color-danger-dark;
    }

    &.not-danger {
      background: $color-primary;
      color: $color-gray-60;
    }

    &.not-danger:hover {
      background: $color-primary-dark;
    }
  }
}

