.modal-wrapper {}

.modal-overlay {
  align-items: center;
  background-color: $color-dark-bg;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.transparent {
    background-color: rgba($color-white, 0)
  }
}

.modal,
.generic-modal {
  background-color: $color-white;
  width: 565px;
  display: flex;
  position: relative;

  .close {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
    svg {
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
    }
  }

  .modal-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 60px 100px;
  }

  .button-row {
    display: flex;
    justify-content: space-between;

    > button {
      font-size: $fs13;
    }
    > button:not(:first-child) {
      margin-left: 25px;
    }
  }
}

// NEW GEN MODALS

.modal-container {
  border-radius: $br-medium;
  display: flex;
  flex-direction: column;
  width: 448px;
  background-color: $color-dashboard;

  .modal-header {
    align-items: center;
    background-color: $color-white;
    border-radius: 8px 8px 0px 0px;
    color: $color-black;
    display: flex;
    height: 63px;
    justify-content: space-between;
  }

  .modal-header-title {
    display: flex;
    align-items: center;
    font-size: $fs18;
    padding-left: 16px;

    h2 {
      font-size: $fs18;
      font-weight: 400;
      margin: 0;
    }
  }

  .modal-close-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-right: 16px;
    width: 30px;

    svg {
      transform: rotate(45deg);
      width: 16px;
      height: 16px;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid $color-gray-10;
    h3 {
      color: $color-gray-40;
      font-size: $fs16;
      font-weight: 400;
    }
  }

  .modal-footer {
    display: flex;
    height: 63px;
    padding: 0px 16px;
    border-top: 1px solid $color-gray-10;

    .action-buttons {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      // border: 1px solid red;
      align-items: center;

      input {
        margin-bottom: 0px;
      }
    }
  }
}

.change-email-modal {
  h2 {
    font-size: $fs18
  }

  h3 {
    margin-bottom: 15px;
  }

  .modal-footer .action-buttons {
    justify-content: space-around;
  }
}

.confirm-dialog {
  background-color: $color-white;

  p {
    font-size: $fs14;
    color: $color-gray-40;
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: $fs14;
  }

  .cancel-button {
    border: 1px solid $color-gray-30;
    background: $color-canvas;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 8px;

    &:hover {
      background: $color-gray-20;
    }
  }

  .accept-button {
    border-radius: 3px;
    cursor: pointer;
    padding: 0.5rem 1rem;

    &.danger {
      background: $color-danger;
      border: 1px solid $color-danger;
      color: $color-white;
      &:hover {
        background: $color-danger-dark;
      }
    }

    &.primary {
      background: $color-primary;
      border: 1px solid $color-primary;
      color: $color-black;
      &:hover {
        background: $color-primary-dark;
      }
    }
  }

}

.libraries-dialog {
  border-radius: $br-medium;
  height: 664px;
  width: 920px;

  .modal-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0;
  }

  .libraries-header {
    border-bottom: 1px solid $color-gray-20;
    padding: 2rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: center;

    .header-item {
      cursor: pointer;
      color: $color-gray-40;
      font-size: $fs15;

      &.active {
        color: $color-gray-60;
        border-bottom: 2px solid $color-primary;
      }

      &:not(:first-child) {
        margin-left: 3rem;
      }
    }
  }

  .libraries-content {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    padding: 0 $size-4;
    color: $color-gray-40;

    .section {
      flex-basis: 0;
      flex-grow: 1;
      padding: $size-4 0;
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        border-left: 1px solid $color-gray-20;
      }
    }

    .section-title {
      color: $color-black;
      font-size: $fs15;
      padding: 0 $size-4;
      font-weight: 500;
    }

    .section-list {
      flex-basis: 0;
      flex-grow: 1;
      padding: 0 $size-4;
      overflow: auto;

      .section-list-item {
        padding: $size-4 0;
        border-bottom: 1px solid $color-gray-20;
        position: relative;

        .item-name {
          color: $color-gray-60;
          font-size: $fs14;
        }

        .item-contents {
          color: $color-gray-40;
          font-size: $fs12;
        }

        .item-button {
          cursor: pointer;
          position: absolute;
          top: $size-4;
          right: 0;
          border: 1px solid $color-primary;
          border-radius: 2px;
          width: 4.5rem;
          background: $color-primary;
          color: $color-black;
          padding: $size-2;

          &:hover {
            color: $color-primary;
            background: $color-black;
          }
        }
      }
    }

    .section-list-empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 $size-4;
      flex-grow: 1;

      & svg {
        fill: $color-gray-20;
        height: 50px;
        width: 50px;
        margin-bottom: $size-4;
      }
    }

    .libraries-search {
      border: 1px solid $color-gray-20;
      margin: $size-4;
      padding: $x-small $small;
      display: flex;
      align-items: center;

      &:focus-within {
        border-color: $color-primary;
      }

      & .search-input {
        border: none;
        color: $color-gray-60;
        font-size: $fs12;
        margin: 0;
        padding: 0;
        flex-grow: 1;
      }

      & .search-icon {
        display: flex;
        align-items: center;

        svg {
          fill: $color-gray-30;
          height: 16px;
          width: 16px;
        }

        &.search-close {
          transform: rotate(45deg);
          cursor: pointer;
        }
      }
    }
  }
}

//- ONBOARDING
.onboarding {
  background-color: $color-white;
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
  display: flex;
  height: 350px;
  flex-direction: row;
  font-family: "sourcesanspro", sans-serif;
  min-width: 620px;
  position: relative;

  .modal-left {
    align-items: center;
    background-color: $color-primary;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: $x-big;
    width: 230px;
  }

  .modal-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: $x-big;

    .modal-title h2 {
      color: $color-black;
      font-size: $fs28;
      font-weight: 900;
    }

    .release {
      background-color: $color-primary;
      color: $color-black;
      font-size: $fs12;
      font-weight: bold;
      margin-top: $small;
      padding: 2px $x-small;
      width: max-content;
    }

    .modal-content {
      border: none;
      padding: $big 0;

      p {
        color: $color-black;
        font-size: 16px;
        margin-top: $small;
      }
    }

    .modal-navigation {
      align-items: center;
      display: flex;
      margin-top: auto;

      .skip {
        cursor: pointer;
        font-family: "worksans", sans-serif;
        font-size: $fs13;
        margin-left: $big;

        &:hover {
          color: $color-black;
        }
      }
    }

    .step-dots {
      align-items: center;
      display: flex;
      margin-bottom: 0;
      margin-left: auto;

      li {
        background-color: $color-gray-10;
        border-radius: 50%;
        cursor: pointer;
        height: $small;
        margin-left: $small;
        width: $small;

        &.current {
          background-color: $color-primary;
        }
      }
    }
  }

  &.black {
    .modal-left {
      background-color: $color-black;
    }
  }

  button {
    font-family: "worksans", sans-serif;
  }

  &.feature {
    .modal-left {
      padding: 0;

      img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
  }

  &.final {
    padding: $big 0 0 0;

    .modal-left,
    .modal-right {
      align-items: center;
      background-color: $color-white;
      color: $color-black;
      flex: 1;
      flex-direction: column;
      padding: $x-big 40px;
      text-align: center;

      h2 {
        font-weight: 900;
        margin-bottom: $big;
        font-size: $fs24;
      }

      p {
        font-size: $fs14;
      }

      .btn-primary {
        margin-bottom: 0;
        margin-top: auto;
        width: 200px;
      }

      img {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: $br-medium;
        margin-bottom: $x-big;
        margin-top: -90px;
        width: 150px;
      }
    }

    .modal-left {
      border-right: 1px solid $color-gray-10;

      form {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: auto;

        .custom-input {
          margin-bottom: $medium;

          input {
            width: 200px;
          }
        }
      }
    }

  }
}

.deco {
  left: -10px;
  position: absolute;
  top: -18px;
  width: 60px;

  &.right {
    left: 590px;
    top: 0;
  }
}

