.modal-wrapper {}

.modal-overlay {
  align-items: center;
  background-color: $color-dark-bg;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.transparent {
    background-color: rgba($color-white, 0)
  }
}

.modal,
.generic-modal {
  background-color: $color-white;
  width: 565px;
  display: flex;
  position: relative;

  .close {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
    svg {
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
    }
  }

  .modal-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 60px 100px;
  }

  .button-row {
    display: flex;
    justify-content: space-between;

    > button {
      font-size: $fs13;
    }
    > button:not(:first-child) {
      margin-left: 25px;
    }
  }
}

// NEW GEN MODALS

.modal-container {
  border-radius: $br-medium;
  display: flex;
  flex-direction: column;
  width: 448px;
  background-color: $color-dashboard;

  .modal-header {
    align-items: center;
    background-color: $color-white;
    border-radius: 8px 8px 0px 0px;
    color: $color-black;
    display: flex;
    height: 63px;
    justify-content: space-between;
  }

  .modal-header-title {
    display: flex;
    align-items: center;
    font-size: $fs18;
    padding-left: 16px;

    h2 {
      font-size: $fs18;
      font-weight: 400;
      margin: 0;
    }
  }

  .modal-close-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-right: 16px;
    width: 30px;

    svg {
      transform: rotate(45deg);
      width: 16px;
      height: 16px;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid $color-gray-10;
    h3 {
      color: $color-gray-40;
      font-size: $fs16;
      font-weight: 400;
    }
  }

  .modal-footer {
    display: flex;
    height: 63px;
    padding: 0px 16px;
    border-top: 1px solid $color-gray-10;

    .action-buttons {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      // border: 1px solid red;
      align-items: center;

      input {
        margin-bottom: 0px;
      }
    }
  }
}

.change-email-modal {
  h2 {
    font-size: $fs18
  }

  h3 {
    margin-bottom: 15px;
  }

  .modal-footer .action-buttons {
    justify-content: space-around;
  }
}

.confirm-dialog {
  background-color: $color-white;

  p {
    font-size: $fs14;
    color: $color-gray-40;
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: $fs14;
  }

  .cancel-button {
    border: 1px solid $color-gray-30;
    background: $color-canvas;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 8px;

    &:hover {
      background: $color-gray-20;
    }
  }

  .accept-button {
    border-radius: 3px;
    cursor: pointer;
    padding: 0.5rem 1rem;

    &.danger {
      background: $color-danger;
      border: 1px solid $color-danger;
      color: $color-white;
      &:hover {
        background: $color-danger-dark;
      }
    }

    &.primary {
      background: $color-primary;
      border: 1px solid $color-primary;
      color: $color-black;
      &:hover {
        background: $color-primary-dark;
      }
    }
  }

}

.libraries-dialog {
  border-radius: $br-medium;
  height: 664px;
  width: 920px;

  .modal-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0;
  }

  .libraries-header {
    border-bottom: 1px solid $color-gray-20;
    padding: 2rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: center;

    .header-item {
      cursor: pointer;
      color: $color-gray-40;
      font-size: $fs15;

      &.active {
        color: $color-gray-60;
        border-bottom: 2px solid $color-primary;
      }

      &:not(:first-child) {
        margin-left: 3rem;
      }
    }
  }

  .libraries-content {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    padding: 0 $size-4;
    color: $color-gray-40;

    .section {
      flex-basis: 0;
      flex-grow: 1;
      padding: $size-4 0;
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        border-left: 1px solid $color-gray-20;
      }
    }

    .section-title {
      font-size: $fs15;
      padding: 0 $size-4;
    }

    .section-list {
      flex-basis: 0;
      flex-grow: 1;
      padding: 0 $size-4;
      overflow: auto;

      .section-list-item {
        padding: $size-4 0;
        border-bottom: 1px solid $color-gray-20;
        position: relative;

        .item-name {
          color: $color-gray-60;
          font-size: $fs14;
        }

        .item-contents {
          color: $color-gray-40;
          font-size: $fs12;
        }

        .item-button {
          cursor: pointer;
          position: absolute;
          top: $size-4;
          right: 0;
          border: 1px solid $color-primary;
          border-radius: 2px;
          width: 4.5rem;
          background: $color-primary;
          color: $color-black;
          padding: $size-2;

          &:hover {
            color: $color-primary;
            background: $color-black;
          }
        }
      }
    }

    .section-list-empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 $size-4;
      flex-grow: 1;

      & svg {
        fill: $color-gray-20;
        height: 50px;
        width: 50px;
        margin-bottom: $size-4;
      }
    }

    .libraries-search {
      border: 1px solid $color-gray-20;
      margin: $size-4;
      padding: $x-small $small;
      display: flex;
      align-items: center;

      &:focus-within {
        border-color: $color-primary;
      }

      & .search-input {
        border: none;
        color: $color-gray-60;
        font-size: $fs12;
        margin: 0;
        padding: 0;
        flex-grow: 1;
      }

      & .search-icon {
        display: flex;
        align-items: center;

        svg {
          fill: $color-gray-30;
          height: 16px;
          width: 16px;
        }

        &.search-close {
          transform: rotate(45deg);
          cursor: pointer;
        }
      }
    }
  }
}

