.viewer-header {
  align-items: center;
  background-color: $color-gray-50;
  border-bottom: 1px solid  $color-gray-60;
  display: flex;
  height: 40px;
  padding: 0 $medium 0 55px;
  position: relative;
  z-index: 12;
  justify-content: space-between;

  a {
    font-size: $fs13;
  }

  .main-icon {
    align-items: center;
    background-color: $color-gray-60;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;

    a {
      height: 30px;

      svg {
        fill: $color-gray-30;
        height: 30px;
        width: 28px;
      }

      &:hover {
        svg {
          fill: $color-primary;
        }
      }
    }
  }

  .header-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;

    a {
      height: 16px;
      width: 16px;

      svg {
        fill: $color-gray-30;
        height: 16px;
        width: 16px;
      }

      &:hover {
        svg {
          fill: $color-primary;
        }
      }
    }
  }

  .sitemap-zone {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: $x-small;

    svg {
      fill: $color-gray-20;
      height: 20px;
      margin-right: $small;
      width: 20px;
    }

    span {
      color: $color-gray-20;
      margin-right: $x-small;
      font-size: $fs14;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.frame-name {
        color: $color-white;
      }
    }

    .dropdown-button {
      svg {
        fill: $color-white;
        height: 10px;
        width: 10px;
      }
    }

    .page-name {
      color: $color-white;
    }

    .counters {
      margin-left: $size-3;
    }
  }

  .mode-zone {
    display: flex;
    height: 100%;

    .mode-zone-button {
      background: inherit;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 40px;

      svg {
        fill: $color-gray-20;
        width: 24px;
        height: 24px;
      }

      &.active {
        background: $color-gray-60;
        svg {
          fill: $color-primary;
        }
      }
    }
  }

  .options-zone {
    align-items: center;
    display: flex;
    width: 384px;
    justify-content: flex-end;
    position: relative;

    > * {
      margin-left: $big;
    }

    .btn-share {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      cursor: pointer;

      svg {
        fill: $color-gray-20;
        width: 20px;
        height: 20px;
      }
    }
  }

  .share-link-dropdown {
    background-color: $color-white;
    border-radius: $br-small;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    left: -180px;
    position: absolute;
    padding: 1rem;
    top: 45px;
    width: 400px;

    .share-link-title {
      color: $color-black;
      font-size: $fs15;
      padding-bottom: 1rem;
    }

    .share-link-subtitle {
      color: $color-gray-40;
      padding-bottom: 1rem;
    }

    .share-link-buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-warning,
      .btn-primary {
        width: 50%;
      }

    }

    .share-link-input {
      border: 1px solid $color-gray-20;
      border-radius: 3px;
      display: flex;
      height: 40px;
      justify-content: space-between;
      margin-bottom: 1rem;
      padding: 9px $small;
      overflow: hidden;

      .link {
        color: $color-gray-50;
        line-height: 1.5;
        user-select: all;
        overflow: hidden;
      }

      .link-button {
        color: $color-primary-dark;
        cursor: pointer;
        flex-shrink: 0;
        font-size: $fs15;

        &:hover {
          color: $color-black;
        }
      }
    }

    &:before {
      background-color: $color-white;
      content: "";
      height: 16px;
      left: 53%;
      position: absolute;
      transform: rotate(45deg);
      top: -5px;
      width: 16px;
    }

  }

  .custom-select-dropdown {
    position: absolute;
    left: 0;
    z-index: 12;
    width: 200px;
    max-height: 30rem;
    min-width: 7rem;
    overflow-y: auto;

    background-color: $color-white;
    border-radius: $br-small;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

    li {
      color: $color-gray-60;
      cursor: pointer;
      font-size: $fs14;
      display: flex;
      padding: $small $small $small 25px;

      &.selected {
        background-image: url(/images/icons/tick.svg);
        background-repeat: no-repeat;
        background-position: 5% 48%;
        background-size: 10px;
        font-weight: bold;
      }

      &:hover {
        background-color: $color-primary-lighter;
      }
    }
  }

  .zoom-dropdown {
    left : 116px;
    top: 45px;
  }

  .users-zone {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 0;

    li {
      margin-left: $small;
      position: relative;

      img {
        border: 3px solid #f3dd14;
        border-radius: 50%;
        flex-shrink: 0;
        height: 25px;
        width: 25px;
      }
    }
  }
}
