.viewer-header {
  align-items: center;
  background-color: $color-gray-50;
  border-bottom: 1px solid  $color-gray-60;
  display: flex;
  height: 48px;
  padding: 0 $size-4 0 55px;
  position: relative;
  z-index: 12;
  justify-content: space-between;

  a {
    font-size: $fs12;
  }

  .main-icon {
    align-items: center;
    background-color: $color-gray-60;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;

    a {
      height: 30px;

      svg {
        fill: $color-gray-30;
        height: 30px;
        width: 28px;
      }

      &:hover {
        svg {
          fill: $color-primary;
        }
      }
    }
  }

  .options-zone {
    align-items: center;
    display: flex;
    // width: 384px;
    justify-content: flex-end;
    position: relative;

    > * {
      margin-left: $size-5;
    }

    .btn-primary {
      flex-shrink: 0;
    }

    .view-options {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative;

      > span {
        color: $color-gray-10;
        font-size: $fs14;
        margin-right: $size-1;
      }

      > .icon {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;

        svg {
          fill: $color-gray-10;
          height: 12px;
          width: 12px;
        }

        &:hover {
          > svg {
            fill: $color-primary;
          }
        }
      }

      .dropdown {
        min-width: 295px;
        top: 45px;
        left: -25px;
      }
    }
  }

  .sitemap-zone {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: $size-1;
    position: relative;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: $color-gray-20;
        height: 12px;
        margin-right: $size-2;
        width: 12px;
      }
    }

    .breadcrumb, .current-frame {
      display: flex;
      position: relative;

      > span {
        color: $color-gray-20;
        margin-right: $size-1;
        font-size: $fs14;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      > .dropdown {
        top: 45px;
        right: 10px;
      }
    }

    .current-frame {
      display: flex;
      span {
        color: $color-white;
        margin-right: $size-1;
      }

      .counters {
        color: $color-gray-20;
      }
    }
  }

  .mode-zone {
    display: flex;
    height: 100%;

    .mode-zone-button {
      background: inherit;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 48px;

      svg {
        fill: $color-gray-20;
        width: 20px;
        height: 20px;
      }

      &.active {
        background: $color-gray-60;
        svg {
          fill: $color-primary;
        }
      }
    }
  }

  .users-zone {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 0;

    li {
      margin-left: $size-2;
      position: relative;

      img {
        border: 3px solid #f3dd14;
        border-radius: 50%;
        flex-shrink: 0;
        height: 25px;
        width: 25px;
      }
    }
  }
}
