.viewer-content {
  background-color: black;

  display: grid;
  grid-template-rows: 232px auto;
  grid-template-columns: 1fr;
}

.viewer-section {
  height: calc(100vh - 48px);

  grid-row: 1 / span 2;
  grid-column: 1 / span 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;

  overflow: auto;

  & .viewer-wrapper {
    position: relative;
  }

  & .viewer-clipper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    overflow: hidden;

    .empty-state {
      justify-content: center;
      align-items: center;
    }

    svg {
      transform-origin: center;
    }
  }
}

.viewport-container {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
