<li class="rpc-item">
  <div class="rpc-row-info">
    {# <div class="type">{{item.type}}</div> #}
    <div class="module">{{item.module}}</div>
    <div class="name">{{item.name}}</div>
    <div class="tags">
      {% if item.deprecated %}
        <span class="tag">
          <span>DEPRECATED</span>
        </span>
      {% endif %}

      {% if item.auth %}
        <span class="tag">
          <span>AUTH</span>
        </span>
      {% endif %}

      {% if item.webhook %}
        <span class="tag">
          <span>WEBHOOK</span>
        </span>
      {% endif %}
      {% if item.spec %}
        <span class="tag">
          <span>SP</span>
        </span>
      {% endif %}
      {% if item.params-schema %}
        <span class="tag">
          <span>SC</span>
        </span>
      {% endif %}
    </div>
  </div>
  <div class="rpc-row-detail hidden">
    <h4>DOCSTRING:</h4>

    <section class="padded-section">
      {% if item.added %}
        <p class="small"><strong>Added:</strong> on v{{item.added}}</p>
      {% endif %}

      {% if item.deprecated %}
        <p class="small"><strong>Deprecated:</strong> since v{{item.deprecated}}</p>
      {% endif %}

      {% if item.entrypoint %}
        <p class="small"><strong>URI:</strong> <a href="{{item.entrypoint}}">{{item.entrypoint}}</a></p>
      {% endif %}

      {% if item.docs %}
        <p class="docstring"> {{item.docs}}</p>
      {% endif %}

    </section>

    {% if item.changes %}
      <h4>CHANGES:</h4>
      <section class="padded-section">

        <ul class="changes">
          {% for change in item.changes %}
            <li><strong>{{change.0}}</strong> - {{change.1}}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% if item.spec %}
      <h4>SPEC EXPLAIN:</h4>
      <section class="padded-section">
        <pre class="spec-explain">{{item.spec}}</pre>
      </section>
    {% endif %}

    <div class="two-columns">
      <div class="column">
        {% if item.params-schema %}
          <h4>PARAMS:</h4>
          <section class="padded-section">
            <pre class="params-schema">{{item.params-schema}}</pre>
          </section>
        {% endif %}
      </div>
      <div class="column">
        {% if item.params-form %}
          <h4>PARAMS:</h4>
          <section class="padded-section">
            <pre class="params-form">{{item.params-form}}</pre>
          </section>
        {% endif %}
      </div>
    </div>
    {% if item.result-schema %}
      <h4>RESPONSE:</h4>
      <section class="padded-section">
        <pre class="result">{{item.result-schema}}</pre>
      </section>
    {% endif %}

    {% if item.webhook-schema %}
      <h4>WEBHOOK EVENT:</h4>
      <section class="padded-section">
        <pre class="webhook">{{item.webhook-schema}}</pre>
      </section>
    {% endif %}
  </div>
</li>
