<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="SwaggerUI"
  />
  <title>PENPOT Swagger UI</title>
  <style>{{swagger-css|safe}}</style>
</head>
<body>
<div id="swagger-ui"></div>
<script>{{swagger-js|safe}}</script>
<script>
  window.onload = () => {
    window.ui = SwaggerUIBundle({
      url: '{{public-uri}}/api/openapi.json',
      dom_id: '#swagger-ui',
    });
  };
</script>
</body>
</html>
