<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="robots" content="noindex" />
    <meta name="description" content="{{description}}" />
    <meta property="og:site_name" content="Penpot" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{image}}" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="{{image}}" />
  </head>
  <body>
    <script>location.replace("/" + location.hash);</script>
  </body>
</html>
