---
title: Design Systems
order: 3
desc: Begin with the Penpot user guide! Get quickstarts, shortcuts, and tutorials. Learn the interface, layers, objects, styling, and more.
---

<h1  id="section-3">Design Systems</h1>

<ul class="intro-sections">
  <li>
    <a href="/user-guide/design-systems/assets">
      <h2>Assets →</h2>
      <p>Store elements and styles to easily reuse them</p>
    </a>
  </li>
    <li>
    <a href="/user-guide/design-systems/libraries">
      <h2>Libraries →</h2>
      <p>Organize and manage your stored elements with Libraries</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/design-systems/components">
      <h2>Components →</h2>
      <p>Speed your design workflow with reusable components</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/design-systems/variants">
      <h2>Variants →</h2>
      <p>Group components into a single, customizable one</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/design-systems/design-tokens">
      <h2>Design Tokens →</h2>
      <p>Synchronize visual elements across your designs</p>
    </a>
  </li>
</ul>
