.drawing-tools {
  max-height: 185px;
}

.tool-btn {
  align-items: center;
  background-color: $secondary-ui-bg;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 54px;
  justify-content: center;
  margin: $medium 0 0 $medium;
  width: 54px;

  svg {
    fill: $intense-ui-icons;
    height: 35px;
    width: 35px;
  }

  &:hover {
    background-color: $color-white;
  }

  &.selected {
    background-color: $main-ui-color;

    svg {
      fill: $color-white;
    }

  }

}
