.workspace-bar {
  align-items: center;
  background-color: $primary-ui-bg;
  border-bottom: 1px solid  $soft-ui-border;
  display: flex;
  height: 50px;
  padding: $x-small $medium $x-small 65px;
  position: relative;
  z-index: 11;

  .main-icon {
    align-items: center;
    background-color: $secondary-ui-bg;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;

    a {
      height: 35px;

      svg {
        fill: $medium-ui-icons;
        height: 35px;
        width: 35px;

        }

      &:hover {

        svg {
          fill: $main-ui-color;
        }

      }

    }

  }

  .project-tree-btn {
    align-items: center;
    background-color: $secondary-ui-bg;
    border-radius: $br-small;
    cursor: pointer;
    display: flex;
    padding: $x-small $x-small $x-small $medium;
    width: 164px;

    svg {
      fill: $intense-ui-icons;
      height: 20px;
      margin-right: $small;
      width: 20px;
    }

    span {
      color: $intense-ui-text;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      background-color: $main-ui-color;

      svg {
        fill: $color-white;
      }

      span {
        color: $color-white;
      }

    }

  }

  .workspace-options {
    display: flex;

    .options-btn {
      align-items: center;
      border-right: 4px double $soft-ui-border;
      display: flex;
      margin: 0;

      &:last-child {
        border: none;
      }

      li {
        align-items: center;
        background-color: $color-gray-lighter;
        border: 1px solid transparent;
        border-radius: $br-small;
        cursor: pointer;
        display: flex;
        height: 30px;
        justify-content: center;
        margin: 0 $small;
        position: relative;
        width: 30px;

        a {
          padding-top: 6px;
        }

        svg {
          fill: $intense-ui-icons;
          height: 18px;
          width: 18px;
        }

        &:hover {
          background-color: $color-white;
          border-color: $soft-ui-border;
        }

        &.selected {
          background-color: $main-ui-color;

          svg {
            fill: $color-white;
          }

        }

      }

    }

  }

}
