---
title: 04· Layer basics
desc: Master layer basics with Penpot's user guide! Learn to create, manipulate, and organize layers for stunning designs. Try Penpot, it's free!
---

<h1 id="layer-basics">Layer basics</h1>
<p class="main-paragraph">Every object you create in Penpot’s <a href="/user-guide/workspace-basics/#viewport">viewport</a> is a layer. Rectangles, ellipses, boards or text boxes are layers that you can use to build your design.</p>

<h2 id="pages">Pages</h2>
<p>Pages allow you to organize layers into separate sections inside a file, and are shown in separate tabs. Subdividing a file into pages gives you the ability to split your file into logically different sections so that you can organise your work. For instance, you can use pages to separate stages of the design process but keep them in the same document. Different screen sizes, features or atomic design categories are other common ways to use pages. </p>

<p>You can add, remove or rename pages to suit your needs.</p>
<figure>
  <video title="Creating pages" muted="" playsinline="" controls="" width="auto" poster="/img/layers/pages-create.webp" height="auto">
    <source src="/img/layers/pages-create.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="layers-panel">Layers panel</h2>
<p><strong>Layers:</strong> Layers are the different objects that you can place at the design viewport. At the layers panel you can see all the layers of a file page. Drag the layers to arrange them to different positions.</p>
<figure>
  <video title="Layers panel" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-panel.webp" height="auto">
    <source src="/img/layers/layers-panel.mp4" type="video/mp4">
  </video>
</figure>
<h3>Navigate layers using the keyboard</h3>
<ul>
  <li>Select a layer and press top/bottom arrows while pressing <kbd>Ctrl/⌘</kbd> to move them in the layers list.</li>
  <li>Press <kbd>tab</kbd> to change the layer selection to the next layer.</li>
  <li>Press <kbd>tab</kbd> + <kbd>Shift/⇧</kbd> to change the layer selection to the previous layer.</li>
  <li>If the layer contains other layers, press <kbd>Enter</kbd> to select the first layer inside the group and <kbd>Enter</kbd>+ <kbd>Shift/⇧</kbd> to move a level up.</li>
</ul>

<p>Layers are displayed from the bottom to the top of the layer stack, with layers above on the stack being shown on top in the image.</p>

<h2 id="hide-lock">Hide and lock layers</h2>

<h3>Hide and show layers</h3>
<p>You can control the visibility of any layer by clicking the eye icon next to it in the Layers panel. When a layer is hidden, it will not appear on the canvas, but you can still select it in the Layers panel, move its order, or modify its properties. The eye icon always indicates whether a layer is visible or hidden, making it easy to manage complex designs.</p>

<h3>Lock and unlock layers</h3>
<p>Locking a layer helps prevent accidental changes or movement on the canvas. When a layer is locked, it cannot be moved or edited directly in the canvas area. However, you can still select a locked layer in the Layers panel and adjust its properties, such as color, effects, or name. The lock icon next to the layer’s name shows its locked status, helping you keep your design organized and protected.</p>

<figure>
  <video title="Layers hide and lock" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-hide-lock.webp" height="auto">
    <source src="/img/layers/layers-hide-lock.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="creating-layers">Create layers</h2>
<p>To create a layer you have to select the type of layer by clicking the selected tool (board, rectangle, ellipse, text, image, path or curve) at the toolbar. Then you usually have to click and drag your mouse on the viewport. </p>
<p>Hold <kbd>Shift/⇧</kbd> while creating an ellipse or a rectangle to maintain equal width and height.</p>
<figure>
  <video title="Layers create" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-create.webp" height="auto">
    <source src="/img/layers/layers-create.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="duplicating-layers">Duplicate layers</h2>
<p>There are several ways to duplicate a layer:</p>
<ol>
  <li>You can press <kbd>Ctrl/⌘</kbd> + <kbd>D</kbd> to duplicate a layer right over a selected layer. </li>
  <li>If you press right click over a selected layer at the viewport or at the layers panel you can use the option at the layer menu. </li>
  <li>You can also select a layer and drag while pressing <kbd>Alt/⌥</kbd> so you can simultaneously duplicate and drag the new layer.</li>
</ol>
<figure>
  <video title="Duplicate layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-duplicate.webp" height="auto">
    <source src="/img/layers/layers-duplicate.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="delete-layers">Delete layers</h2>
<p>There are a couple ways to delete a layer. </p>
<ol>
  <li>You can press <kbd>Supr/⌫</kbd> to delete a selected layer. </li>
  <li>If you press right click over a selected layer at the viewport or at the layers panel you can use the option at the layer menu.</li>
</ol>

<h2 id="select-layers">Select layers</h2>
<p>The simplest way to select a layer is to click on it. Make sure that you have the “move” pointer selected at the toolbar. </p>
<p>To select multiple layers you can click and drag around the layers you want to select. You can also click more than one layer while pressing <kbd>Shift/⇧</kbd>. If you hold <kbd>Shift/⇧</kbd> and click you can deselect layers individually.</p>
<figure>
  <video title="Select layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-select.webp" height="auto">
    <source src="/img/layers/layers-select.mp4" type="video/mp4">
  </video>
</figure>

<h3>Selecting layers at the layers panel</h3>
<ol>
  <li>Click a layer to do a single selection.</li>
  <li>Press <kbd>Ctrl/⌘</kbd> while clicking two or more layers to do a multiple selection.</li>
  <li>If you press <kbd>Shift/⇧</kbd> while selecting two or more layers all the layers within the selection area will be selected.</li>
</ol>
<figure>
  <video title="Select layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-multiselect.webp" height="auto">
    <source src="/img/layers/layers-multiselect.mp4" type="video/mp4">
  </video>
</figure>
<h3>Select layers ignoring groups (deep selection)</h3>
<p>If you want to select an element that is difficult to reach because it is under a group of elements, hold <kbd>Ctrl/⌘</kbd> to make the selection ignore group areas and treat all the objects as being at the same level.</p>
<figure>
  <video title="Select layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-deepselect.webp" height="auto">
    <source src="/img/layers/layers-deepselect.mp4" type="video/mp4">
  </video>
</figure>
<h3>Select layers inside groups</h3>
<p>To <strong>select a layer inside a group</strong> you do double click. First click selects the group, second click selects a layer.</p>

<h3>Select layer menu</h3>
<p>At the dropdown menu (right click on a layer to show it) there's the option "Select layer" that allows the user to select one layer among the ones that are under the cursor's location.</p>
<p><img src="/img/layers-select-menu.gif" alt="layers select" /></p>

<h2 id="group-layers">Group layers</h2>
<p>Grouped layers can be moved, transformed or styled at the same time. </p>
<ul>
  <li><strong>Group:</strong> To group two or more layers, select them and then press <kbd>Ctrl/⌘</kbd> + <kbd>G</kbd>. You can also use the option at the layers menu that you can open with right click.</li>
  <li><strong>Ungroup:</strong> Press <kbd>Shift/⇧</kbd> + <kbd>G</kbd> or use the option at the layers menu that you can open with right click over the selected group.</li>
</ul>
<figure>
  <video title="Group layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-group.webp" height="auto">
    <source src="/img/layers/layers-group.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="mask-layers">Mask layers</h2>
<p>A mask is a layer that does a clipping and only shows parts of a layer or multiple layers that fall within its shape. </p>
<ul>
  <li><strong>Mask layers:</strong> Select more than one layer or a group of them. Then you can apply the masking using the option at the layers menu or by pressing <kbd>Ctrl/⌘</kbd> + <kbd>M</kbd>. The shape that is at the lowest level at the layer list will be used as a mask. </li>
  <li><strong>Unmask layers:</strong> Select a mask and then press <kbd>Shift/⇧</kbd> + <kbd>Ctrl/⌘</kbd> + <kbd>M</kbd> or use the option at the layers menu.</li>
</ul>
<figure>
  <video title="Mask layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-mask.webp" height="auto">
    <source src="/img/layers/layers-mask.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="move-layers">Move layers</h2>
<p>To move one or more layers on the viewport you have to select them first and then click and drag the selection where you want to place them. You can also use the design panel to set a precise position relative to the viewport or the board.</p>
<figure>
  <video title="Move layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-move.webp" height="auto">
    <source src="/img/layers/layers-move.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="resize-layers">Resize layers</h2>
<p>To resize a selected layer you can use the handles at the edges of the selection box. Make sure the cursor is in resizing mode. You can also use the design panel where you can link width and height.</p>
<ul>
  <li>Hold <kbd>Shift/⇧</kbd> while resizing the object to preserve its aspect ratio.</li>
  <li>Hold <kbd>Alt/⌥</kbd> while resizing the object to do it from the center and resize simultaneously two opposite sides.</li>
</ul>
<figure>
  <video title="Resize layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-resize.webp" height="auto">
    <source src="/img/layers/layers-resize.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="rotate-layers">Rotate layers</h2>
<p>To rotate selected layers you can use the handles at the edges of the selection box. Make sure the cursor is in rotation mode. If you hold <kbd>Ctrl/⌘</kbd> while rotation the angle will change in 45 degree increments. You can also find this option at the design panel.</p>
<figure>
  <video title="Rotate layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-rotate.webp" height="auto">
    <source src="/img/layers/layers-rotate.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="flip-layers">Flip layers</h2>
<p>You can find the options to flip layers in their contextual menu (select the layer and right click). You also have shortcuts to do this:</p>
<ul>
  <li><strong>Flip layers horizontally:</strong> Select the layer and press <kbd>Shift/⇧</kbd> + <kbd>H</kbd></li>
  <li><strong>Flip layers vertically:</strong> Select the layer and then press <kbd>Shift/⇧</kbd> + <kbd>V</kbd>.</li>
</ul>
<figure>
  <video title="Flip layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-flip.webp" height="auto">
    <source src="/img/layers/layers-flip.mp4" type="video/mp4">
  </video>
</figure>


<h2 id="scale-elements">Scale elements, texts and properties</h2>
<p>Activate the scale tool by pressing <kbd>K</kbd> or from the main file menu to scale elements while maintaining their visual aspect. Once it is activated you can resize texts, layers and groups and preserve their aspect ratio while scaling their properties proportionally, including strokes, shadows, blurs and corners.
<figure>
  <video title="Scale layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-scale.webp" height="auto">
    <source src="/img/layers/layers-scale.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="aling-distribute-layers">Align and distribute layers</h2>
<p>Aligning and distributing layers can be found at the top of the Design panel. </p>
<h3>Align layers</h3>
<p>Aligning will move all the selected layers to a position relative to one of them. For instance, aligning top will align the elements with the edge of the top-most element.</p>
<figure>
  <video title="Align layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-align.webp" height="auto">
    <source src="/img/layers/layers-align.mp4" type="video/mp4">
  </video>
</figure>
<h3>Distribute layers</h3>
<p>Distributing objects to position them vertically and horizontally with equal distances between them.</p>
<figure>
  <video title="Distribute layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-distribute.webp" height="auto">
    <source src="/img/layers/layers-distribute.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="layers-search">Search and filter layers</h2>
<p>Reach specific layers with a simple search. You can also filter the layers list per layer type (board, group, mask, component, text, image and shape).</p>
<figure>
  <video title="Search and filter layers" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-search.webp" height="auto">
    <source src="/img/layers/layers-search.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="scale-elements">Copy CSS properties</h2>
<p>To copy CSS properties from layers:</p>
<ol>
  <li>Select one or more layers.</li>
  <li>Right click to show the layer menu.</li>
  <li>Press <strong>Copy/Paste as... > Copy as CSS</strong> in case you only want to get the CSS properties from the selected layer/s.</li>
  <li>Press <strong>Copy/Paste as... > Copy as CSS (nested layers)</strong> in case you only want to get the CSS properties from the selected layer/s and all the contained layers.</li>
</ol>
<figure>
  <img alt="Copy CSS properties" src="/img/layers/copy-css.webp"/>
</figure>

<h2 id="collapse-groups">Collapse groups and boards</h2>
<p>Groups and boards can have their contents expanded and collapsed. Click on the arrow at the
right side to toggle the visibility of their contents. </p>
<p>To collapse all the layers, and just display the boards,
press <kbd>Shift/⇧</kbd> + left click over the right arrow of a group or a board to collapse them all.</p>
<figure>
  <video title="Collapse layer groups" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-collapse.webp" height="auto">
    <source src="/img/layers/layers-collapse.mp4" type="video/mp4">
  </video>
</figure>

<h2 id="boolean-operators">Boolean operators</h2>
<p>It is possible to combine shapes in a group in different ways to create more complex objects by using
"boolean" operators. Boolean operators are non destructive and the original shapes remain grouped and available for more editing. There are five boolean operations available: union, difference, intersection, exclusion and flatten. Using boolean operations allows many graphic options and possibilities for your designs.</p>
<figure>
  <video title="Boolean operators" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-boolean.webp" height="auto">
    <source src="/img/layers/layers-boolean.mp4" type="video/mp4">
  </video>
</figure>
<ul>
  <li><strong>Union:</strong> the resulting combination is the sum of the shapes.</li>
  <li><strong>Difference:</strong> the opposite of union, the resulting object has the area of the shape on top has been cut out from the shape at the bottom.</li>
  <li><strong>Intersection:</strong> creates a group whose shape is the overlapping area between the shapes.</li>
  <li><strong>Exclusion:</strong> the opposite of intersection, the resulting shape is the area that does not overlap between the shapes.</li>
  <li><strong>Flatten:</strong> Tecnically not a boolean operator, this is the way to permanently combine the paths of a group of shapes in a single one.</li>
</ul>


<h2 id="constraints">Resizing constraints</h2>
<p>Constraints allow you to decide how layers will behave when resizing its container.</p>

<h3>Apply constraints</h3>
<p>Constraints allow you to decide how layers will behave when resizing its parent container. You can apply horizontal and vertical constraints for every layer.</p>
<p>To apply constraints select a layer and use the constraints map or the constraints selectors at the design panel.</p>
<figure>
  <video title="Constraints" muted="" playsinline="" controls="" width="auto" poster="/img/layers/layers-constraints.webp" height="auto">
    <source src="/img/layers/layers-constraints.mp4" type="video/mp4">
  </video>
</figure>
<p>Constraints are set to “Scale” by default, but you have other options.</p>

<h3>Horizontal constraints</h3>
<ul>
  <li><strong>Left</strong>: The object maintains its size and position relative to the left side of its parent container.</li>
  <li><strong>Right</strong>: The object maintains its size and position relative to the right side of its parent container.</li>
  <li><strong>Left & right</strong>: The object resizes while maintaining its distance to both horizontal sides of its parent container.</li>
  <li><strong>Center</strong>: The object maintains its size and position relative to the horizontal center of its parent container.</li>
  <li><strong>Scale</strong>: The object will horizontally resize proportionally to its parent container size.</li>
</ul>
<figure>
  <img src="/img/layers/layers-constraints-h.webp" alt="Horizontal constraints">
</figure>

<h3>Vertical constraints</h3>
<ul>
  <li><strong>Top</strong>: The object maintains its size and position relative to the top side of its parent container.</li>
  <li><strong>Bottom</strong>: The object maintains its size and position relative to the bottom side of its parent container.</li>
  <li><strong>Top & bottom</strong>: The object resizes while maintaining its distance to both vertical sides of its parent container.</li>
  <li><strong>Center</strong>: The object maintains its size and position relative to the vertical center of its parent container.</li>
  <li><strong>Scale</strong>: The object will vertically resize proportionally to its parent container size.</li>
</ul>
<figure>
  <img src="/img/layers/layers-constraints-v.webp" alt="Vettical constraints">
</figure>


<h2 id="focus-mode">Focus mode</h2>
<p>Focus mode zooms into the elements of a page you want to work with in a specific moment, and hides the rest so that they don’t get in the way. When the page has many elements, focus mode can also improve performance.</p>
<p>To activate focus mode:</p>
<ol> 
  <li>Select one or more elements.</li>
  <li>Right click on the selection to show the menu and select the option “Focus on” or press <kbd>F</kbd>.</li>
</ol>
<p>Notice that the layer panel will now only show the focused layers. A focus mode status line will also appear at the top.</p>
<p>To exit focus mode and return to the original viewport and selection, right click anywhere and select “Focus off” or just press <kbd>F</kbd> again. You can also click anywhere on the focus mode status line at the top of the layer panel.
</p>
<figure>
  <video title="Focus mode" muted="" playsinline="" controls="" width="100%" poster="/img/layers/layers-focus.webp" height="auto">
    <source src="/img/layers/layers-focus.mp4" type="video/mp4">
  </video>
</figure>


<h2 id="rtl-support">RTL support</h2>
<p>Diversity and inclusion is a major Penpot concern and that's why we love to give support to RTL languages, unlike most design tools.</p>
<p>If you write in arabic, hebrew or other RTL language text direction will be automatically detected in text layers.</p>
<figure>
  <img src="/img/layers/layers-rtl.webp" alt="RTL support">
</figure>
