@use "refactor/common-refactor.scss" as *;

.profile-name {
  width: fit-content;
  font-family: worksans;
  padding: 2px 12px;
  border-radius: $br-4;
  display: flex;
  align-items: center;
  height: 20px;
  font-size: $fs-12;
  line-height: $lh-150;
}

.multiuser-cursor {
  z-index: 10000;
  pointer-events: none;
}
