[{:id "material-design-3"
  :name "Material Design 3"
  :file-uri "https://github.com/penpot/penpot-files/raw/main/Material%20Design%203.penpot"}
 {:id "tutorial-for-beginners"
  :name "Tutorial for beginners"
  :file-uri "https://github.com/penpot/penpot-files/raw/binary-files/tutorial-for-beginners.penpot"}
 {:id "penpot-design-system"
  :name "Penpot Design System"
  :file-uri "https://github.com/penpot/penpot-files/raw/binary-files/Penpot-Design-system.penpot"}
 {:id "flex-layout-playground"
  :name "Flex Layout Playground"
  :file-uri "https://github.com/penpot/penpot-files/raw/main/Flex%20Layout%20Playground.penpot"}
 {:id "wireframing-kit"
  :name "Wireframing Kit"
  :file-uri "https://github.com/penpot/penpot-files/raw/binary-files/wireframing-kit.penpot"}
 {:id "ant-design"
  :name "Ant Design UI Kit (lite)"
  :file-uri "https://github.com/penpot/penpot-files/raw/binary-files/Ant-Design-UI-Kit-Lite.penpot"}
 {:id "cocomaterial"
  :name "Cocomaterial"
  :file-uri "https://github.com/penpot/penpot-files/raw/binary-files/Cocomaterial.penpot"}
 {:id "circum-icons"
  :name "Circum Icons pack"
  :file-uri "https://github.com/penpot/penpot-files/raw/binary-files/CircumIcons.penpot"}
 {:id "coreui"
  :name "CoreUI"
  :file-uri "https://github.com/penpot/penpot-files/raw/main/CoreUI%20DesignSystem%20(DEMO).penpot"}
 {:id "whiteboarding-kit"
  :name "Whiteboarding Kit"
  :file-uri "https://github.com/penpot/penpot-files/raw/binary-files/Whiteboarding-mapping-kit.penpot"}]
