{:icons
 [{:name "Material Design (Action)"
   :path "./icons/material-action"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Alert)"
   :path "./icons/material-alert"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Av)"
   :path "./icons/material-av"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Content)"
   :path "./icons/material-content"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Device)"
   :path "./icons/material-device"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Editor)"
   :path "./icons/material-editor"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (File)"
   :path "./icons/material-file"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Hardware)"
   :path "./icons/material-hardware"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Image)"
   :path "./icons/material-image"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Maps)"
   :path "./icons/material-maps"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Navigation)"
   :path "./icons/material-navigation"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Notification)"
   :path "./icons/material-notification"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Places)"
   :path "./icons/material-places"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Social)"
   :path "./icons/material-social"
   :regex #"^.*_48px\.svg$"}
  {:name "Material Design (Toggle)"
   :path "./icons/material-toggle"
   :regex #"^.*_48px\.svg$"}
  ]

 :colors
 [{:name "Flat design"
   :id #uuid "00000000-0000-0000-0000-00000000001"
   :colors ["turquoise-50" "#e8f8f5"
            "turquoise-100" "#d1f2eb"
            "turquoise-200" "#a3e4d7"
            "turquoise-300" "#76d7c4"
            "turquoise-400" "#48c9b0"
            "turquoise-500" "#1abc9c"
            "turquoise-600" "#17a589"
            "turquoise-700" "#148f77"
            "turquoise-800" "#117864"
            "turquoise-900" "#0e6251"
            "green-sea-50" "#e8f6f3"
            "green-sea-100" "#d0ece7"
            "green-sea-200" "#a2d9ce"
            "green-sea-300" "#73c6b6"
            "green-sea-400" "#45b39d"
            "green-sea-500" "#16a085"
            "green-sea-600" "#138d75"
            "green-sea-700" "#117a65"
            "green-sea-800" "#0e6655"
            "green-sea-900" "#0b5345"
            "emerald-50" "#eafaf1"
            "emerald-100" "#d5f5e3"
            "emerald-200" "#abebc6"
            "emerald-300" "#82e0aa"
            "emerald-400" "#58d68d"
            "emerald-500" "#2ecc71"
            "emerald-600" "#28b463"
            "emerald-700" "#239b56"
            "emerald-800" "#1d8348"
            "emerald-900" "#186a3b"
            "nephritis-50" "#e9f7ef"
            "nephritis-100" "#d4efdf"
            "nephritis-200" "#a9dfbf"
            "nephritis-300" "#7dcea0"
            "nephritis-400" "#52be80"
            "nephritis-500" "#27ae60"
            "nephritis-600" "#229954"
            "nephritis-700" "#1e8449"
            "nephritis-800" "#196f3d"
            "nephritis-900" "#145a32"
            "peter-river-50" "#ebf5fb"
            "peter-river-100" "#d6eaf8"
            "peter-river-200" "#aed6f1"
            "peter-river-300" "#85c1e9"
            "peter-river-400" "#5dade2"
            "peter-river-500" "#3498db"
            "peter-river-600" "#2e86c1"
            "peter-river-700" "#2874a6"
            "peter-river-800" "#21618c"
            "peter-river-900" "#1b4f72"
            "belize-hole-50" "#eaf2f8"
            "belize-hole-100" "#d4e6f1"
            "belize-hole-200" "#a9cce3"
            "belize-hole-300" "#7fb3d5"
            "belize-hole-400" "#5499c7"
            "belize-hole-500" "#2980b9"
            "belize-hole-600" "#2471a3"
            "belize-hole-700" "#1f618d"
            "belize-hole-800" "#1a5276"
            "belize-hole-900" "#154360"
            "amethyst-50" "#f5eef8"
            "amethyst-100" "#ebdef0"
            "amethyst-200" "#d7bde2"
            "amethyst-300" "#c39bd3"
            "amethyst-400" "#af7ac5"
            "amethyst-500" "#9b59b6"
            "amethyst-600" "#884ea0"
            "amethyst-700" "#76448a"
            "amethyst-800" "#633974"
            "amethyst-900" "#512e5f"
            "wisteria-50" "#f4ecf7"
            "wisteria-100" "#e8daef"
            "wisteria-200" "#d2b4de"
            "wisteria-300" "#bb8fce"
            "wisteria-400" "#a569bd"
            "wisteria-500" "#8e44ad"
            "wisteria-600" "#7d3c98"
            "wisteria-700" "#6c3483"
            "wisteria-800" "#5b2c6f"
            "wisteria-900" "#4a235a"
            "wet-asphalt-50" "#ebedef"
            "wet-asphalt-100" "#d6dbdf"
            "wet-asphalt-200" "#aeb6bf"
            "wet-asphalt-300" "#85929e"
            "wet-asphalt-400" "#5d6d7e"
            "wet-asphalt-500" "#34495e"
            "wet-asphalt-600" "#2e4053"
            "wet-asphalt-700" "#283747"
            "wet-asphalt-800" "#212f3c"
            "wet-asphalt-900" "#1b2631"
            "midnight-blue-50" "#eaecee"
            "midnight-blue-100" "#d5d8dc"
            "midnight-blue-200" "#abb2b9"
            "midnight-blue-300" "#808b96"
            "midnight-blue-400" "#566573"
            "midnight-blue-500" "#2c3e50"
            "midnight-blue-600" "#273746"
            "midnight-blue-700" "#212f3d"
            "midnight-blue-800" "#1c2833"
            "midnight-blue-900" "#17202a"
            "sunflower-50" "#fef9e7"
            "sunflower-100" "#fcf3cf"
            "sunflower-200" "#f9e79f"
            "sunflower-300" "#f7dc6f"
            "sunflower-400" "#f4d03f"
            "sunflower-500" "#f1c40f"
            "sunflower-600" "#d4ac0d"
            "sunflower-700" "#b7950b"
            "sunflower-800" "#9a7d0a"
            "sunflower-900" "#7d6608"
            "orange-50" "#fef5e7"
            "orange-100" "#fdebd0"
            "orange-200" "#fad7a0"
            "orange-300" "#f8c471"
            "orange-400" "#f5b041"
            "orange-500" "#f39c12"
            "orange-600" "#d68910"
            "orange-700" "#b9770e"
            "orange-800" "#9c640c"
            "orange-900" "#7e5109"
            "carrot-50" "#fdf2e9"
            "carrot-100" "#fae5d3"
            "carrot-200" "#f5cba7"
            "carrot-300" "#f0b27a"
            "carrot-400" "#eb984e"
            "carrot-500" "#e67e22"
            "carrot-600" "#ca6f1e"
            "carrot-700" "#af601a"
            "carrot-800" "#935116"
            "carrot-900" "#784212"
            "pumpkin-50" "#fbeee6"
            "pumpkin-100" "#f6ddcc"
            "pumpkin-200" "#edbb99"
            "pumpkin-300" "#e59866"
            "pumpkin-400" "#dc7633"
            "pumpkin-500" "#d35400"
            "pumpkin-600" "#ba4a00"
            "pumpkin-700" "#a04000"
            "pumpkin-800" "#873600"
            "pumpkin-900" "#6e2c00"
            "alizarin-50" "#fdedec"
            "alizarin-100" "#fadbd8"
            "alizarin-200" "#f5b7b1"
            "alizarin-300" "#f1948a"
            "alizarin-400" "#ec7063"
            "alizarin-500" "#e74c3c"
            "alizarin-600" "#cb4335"
            "alizarin-700" "#b03a2e"
            "alizarin-800" "#943126"
            "alizarin-900" "#78281f"
            "pomegranate-50" "#f9ebea"
            "pomegranate-100" "#f2d7d5"
            "pomegranate-200" "#e6b0aa"
            "pomegranate-300" "#d98880"
            "pomegranate-400" "#cd6155"
            "pomegranate-500" "#c0392b"
            "pomegranate-600" "#a93226"
            "pomegranate-700" "#922b21"
            "pomegranate-800" "#7b241c"
            "pomegranate-900" "#641e16"
            "clouds-50" "#fdfefe"
            "clouds-100" "#fbfcfc"
            "clouds-200" "#f7f9f9"
            "clouds-300" "#f4f6f7"
            "clouds-400" "#f0f3f4"
            "clouds-500" "#ecf0f1"
            "clouds-600" "#d0d3d4"
            "clouds-700" "#b3b6b7"
            "clouds-800" "#979a9a"
            "clouds-900" "#7b7d7d"
            "silver-50" "#f8f9f9"
            "silver-100" "#f2f3f4"
            "silver-200" "#e5e7e9"
            "silver-300" "#d7dbdd"
            "silver-400" "#cacfd2"
            "silver-500" "#bdc3c7"
            "silver-600" "#a6acaf"
            "silver-700" "#909497"
            "silver-800" "#797d7f"
            "silver-900" "#626567"
            "concrete-50" "#f4f6f6"
            "concrete-100" "#eaeded"
            "concrete-200" "#d5dbdb"
            "concrete-300" "#bfc9ca"
            "concrete-400" "#aab7b8"
            "concrete-500" "#95a5a6"
            "concrete-600" "#839192"
            "concrete-700" "#717d7e"
            "concrete-800" "#5f6a6a"
            "concrete-900" "#4d5656"
            "asbestos-50" "#f2f4f4"
            "asbestos-100" "#e5e8e8"
            "asbestos-200" "#ccd1d1"
            "asbestos-300" "#b2babb"
            "asbestos-400" "#99a3a4"
            "asbestos-500" "#7f8c8d"
            "asbestos-600" "#707b7c"
            "asbestos-700" "#616a6b"
            "asbestos-800" "#515a5a"
            "asbestos-900" "#424949"]}


  {:name "Material design"
   :id #uuid "00000000-0000-0000-0000-000000000020"
   :colors ["red-50" "#ffebee"
            "red-100" "#ffcdd2"
            "red-200" "#ef9a9a"
            "red-300" "#e57373"
            "red-400" "#ef5350"
            "red-500" "#f44336"
            "red-600" "#e53935"
            "red-700" "#d32f2f"
            "red-800" "#c62828"
            "red-900" "#b71c1c"
            "red-a100" "#ff8a80"
            "red-a200" "#ff5252"
            "red-a400" "#ff1744"
            "red-a700" "#d50000"
            "pink-50" "#fce4ec"
            "pink-100" "#f8bbd0"
            "pink-200" "#f48fb1"
            "pink-300" "#f06292"
            "pink-400" "#ec407a"
            "pink-500" "#e91e63"
            "pink-600" "#d81b60"
            "pink-700" "#c2185b"
            "pink-800" "#ad1457"
            "pink-900" "#880e4f"
            "pink-a100" "#ff80ab"
            "pink-a200" "#ff4081"
            "pink-a400" "#f50057"
            "pink-a700" "#c51162"
            "purple-50" "#f3e5f5"
            "purple-100" "#e1bee7"
            "purple-200" "#ce93d8"
            "purple-300" "#ba68c8"
            "purple-400" "#ab47bc"
            "purple-500" "#9c27b0"
            "purple-600" "#8e24aa"
            "purple-700" "#7b1fa2"
            "purple-800" "#6a1b9a"
            "purple-900" "#4a148c"
            "purple-a100" "#ea80fc"
            "purple-a200" "#e040fb"
            "purple-a400" "#d500f9"
            "purple-a700" "#aa00ff"
            "deep-purple-50" "#ede7f6"
            "deep-purple-100" "#d1c4e9"
            "deep-purple-200" "#b39ddb"
            "deep-purple-300" "#9575cd"
            "deep-purple-400" "#7e57c2"
            "deep-purple-500" "#673ab7"
            "deep-purple-600" "#5e35b1"
            "deep-purple-700" "#512da8"
            "deep-purple-800" "#4527a0"
            "deep-purple-900" "#311b92"
            "deep-purple-a100" "#b388ff"
            "deep-purple-a200" "#7c4dff"
            "deep-purple-a400" "#651fff"
            "deep-purple-a700" "#6200ea"
            "indigo-50" "#e8eaf6"
            "indigo-100" "#c5cae9"
            "indigo-200" "#9fa8da"
            "indigo-300" "#7986cb"
            "indigo-400" "#5c6bc0"
            "indigo-500" "#3f51b5"
            "indigo-600" "#3949ab"
            "indigo-700" "#303f9f"
            "indigo-800" "#283593"
            "indigo-900" "#1a237e"
            "indigo-a100" "#8c9eff"
            "indigo-a200" "#536dfe"
            "indigo-a400" "#3d5afe"
            "indigo-a700" "#304ffe"
            "blue-50" "#e3f2fd"
            "blue-100" "#bbdefb"
            "blue-200" "#90caf9"
            "blue-300" "#64b5f6"
            "blue-400" "#42a5f5"
            "blue-500" "#2196f3"
            "blue-600" "#1e88e5"
            "blue-700" "#1976d2"
            "blue-800" "#1565c0"
            "blue-900" "#0d47a1"
            "blue-a100" "#82b1ff"
            "blue-a200" "#448aff"
            "blue-a400" "#2979ff"
            "blue-a700" "#2962ff"
            "light-blue-50" "#e1f5fe"
            "light-blue-100" "#b3e5fc"
            "light-blue-200" "#81d4fa"
            "light-blue-300" "#4fc3f7"
            "light-blue-400" "#29b6f6"
            "light-blue-500" "#03a9f4"
            "light-blue-600" "#039be5"
            "light-blue-700" "#0288d1"
            "light-blue-800" "#0277bd"
            "light-blue-900" "#01579b"
            "light-blue-a100" "#80d8ff"
            "light-blue-a200" "#40c4ff"
            "light-blue-a400" "#00b0ff"
            "light-blue-a700" "#0091ea"
            "cyan-50" "#e0f7fa"
            "cyan-100" "#b2ebf2"
            "cyan-200" "#80deea"
            "cyan-300" "#4dd0e1"
            "cyan-400" "#26c6da"
            "cyan-500" "#00bcd4"
            "cyan-600" "#00acc1"
            "cyan-700" "#0097a7"
            "cyan-800" "#00838f"
            "cyan-900" "#006064"
            "cyan-a100" "#84ffff"
            "cyan-a200" "#18ffff"
            "cyan-a400" "#00e5ff"
            "cyan-a700" "#00b8d4"
            "teal-50" "#e0f2f1"
            "teal-100" "#b2dfdb"
            "teal-200" "#80cbc4"
            "teal-300" "#4db6ac"
            "teal-400" "#26a69a"
            "teal-500" "#009688"
            "teal-600" "#00897b"
            "teal-700" "#00796b"
            "teal-800" "#00695c"
            "teal-900" "#004d40"
            "teal-a100" "#a7ffeb"
            "teal-a200" "#64ffda"
            "teal-a400" "#1de9b6"
            "teal-a700" "#00bfa5"
            "green-50" "#e8f5e9"
            "green-100" "#c8e6c9"
            "green-200" "#a5d6a7"
            "green-300" "#81c784"
            "green-400" "#66bb6a"
            "green-500" "#4caf50"
            "green-600" "#43a047"
            "green-700" "#388e3c"
            "green-800" "#2e7d32"
            "green-900" "#1b5e20"
            "green-a100" "#b9f6ca"
            "green-a200" "#69f0ae"
            "green-a400" "#00e676"
            "green-a700" "#00c853"
            "light-green-50" "#f1f8e9"
            "light-green-100" "#dcedc8"
            "light-green-200" "#c5e1a5"
            "light-green-300" "#aed581"
            "light-green-400" "#9ccc65"
            "light-green-500" "#8bc34a"
            "light-green-600" "#7cb342"
            "light-green-700" "#689f38"
            "light-green-800" "#558b2f"
            "light-green-900" "#33691e"
            "light-green-a100" "#ccff90"
            "light-green-a200" "#b2ff59"
            "light-green-a400" "#76ff03"
            "light-green-a700" "#64dd17"
            "lime-50" "#f9fbe7"
            "lime-100" "#f0f4c3"
            "lime-200" "#e6ee9c"
            "lime-300" "#dce775"
            "lime-400" "#d4e157"
            "lime-500" "#cddc39"
            "lime-600" "#c0ca33"
            "lime-700" "#afb42b"
            "lime-800" "#9e9d24"
            "lime-900" "#827717"
            "lime-a100" "#f4ff81"
            "lime-a200" "#eeff41"
            "lime-a400" "#c6ff00"
            "lime-a700" "#aeea00"
            "yellow-50" "#fffde7"
            "yellow-100" "#fff9c4"
            "yellow-200" "#fff59d"
            "yellow-300" "#fff176"
            "yellow-400" "#ffee58"
            "yellow-500" "#ffeb3b"
            "yellow-600" "#fdd835"
            "yellow-700" "#fbc02d"
            "yellow-800" "#f9a825"
            "yellow-900" "#f57f17"
            "yellow-a100" "#ffff8d"
            "yellow-a200" "#ffff00"
            "yellow-a400" "#ffea00"
            "yellow-a700" "#ffd600"
            "amber-50" "#fff8e1"
            "amber-100" "#ffecb3"
            "amber-200" "#ffe082"
            "amber-300" "#ffd54f"
            "amber-400" "#ffca28"
            "amber-500" "#ffc107"
            "amber-600" "#ffb300"
            "amber-700" "#ffa000"
            "amber-800" "#ff8f00"
            "amber-900" "#ff6f00"
            "amber-a100" "#ffe57f"
            "amber-a200" "#ffd740"
            "amber-a400" "#ffc400"
            "amber-a700" "#ffab00"
            "orange-50" "#fff3e0"
            "orange-100" "#ffe0b2"
            "orange-200" "#ffcc80"
            "orange-300" "#ffb74d"
            "orange-400" "#ffa726"
            "orange-500" "#ff9800"
            "orange-600" "#fb8c00"
            "orange-700" "#f57c00"
            "orange-800" "#ef6c00"
            "orange-900" "#e65100"
            "orange-a100" "#ffd180"
            "orange-a200" "#ffab40"
            "orange-a400" "#ff9100"
            "orange-a700" "#ff6d00"
            "deep-orange-50" "#fbe9e7"
            "deep-orange-100" "#ffccbc"
            "deep-orange-200" "#ffab91"
            "deep-orange-300" "#ff8a65"
            "deep-orange-400" "#ff7043"
            "deep-orange-500" "#ff5722"
            "deep-orange-600" "#f4511e"
            "deep-orange-700" "#e64a19"
            "deep-orange-800" "#d84315"
            "deep-orange-900" "#bf360c"
            "deep-orange-a100" "#ff9e80"
            "deep-orange-a200" "#ff6e40"
            "deep-orange-a400" "#ff3d00"
            "deep-orange-a700" "#dd2c00"
            "brown-50" "#efebe9"
            "brown-100" "#d7ccc8"
            "brown-200" "#bcaaa4"
            "brown-300" "#a1887f"
            "brown-400" "#8d6e63"
            "brown-500" "#795548"
            "brown-600" "#6d4c41"
            "brown-700" "#5d4037"
            "brown-800" "#4e342e"
            "brown-900" "#3e2723"
            "grey-50" "#fafafa"
            "grey-100" "#f5f5f5"
            "grey-200" "#eeeeee"
            "grey-300" "#e0e0e0"
            "grey-400" "#bdbdbd"
            "grey-500" "#9e9e9e"
            "grey-600" "#757575"
            "grey-700" "#616161"
            "grey-800" "#424242"
            "grey-900" "#212121"
            "blue-grey-50" "#eceff1"
            "blue-grey-100" "#cfd8dc"
            "blue-grey-200" "#b0bec5"
            "blue-grey-300" "#90a4ae"
            "blue-grey-400" "#78909c"
            "blue-grey-500" "#607d8b"
            "blue-grey-600" "#546e7a"
            "blue-grey-700" "#455a64"
            "blue-grey-800" "#37474f"
            "blue-grey-900" "#263238"
            "white" "#ffffff"
            "black" "#000000"]}
  ]}

