.main-content {
  display: flex;
  height: 100%;
  position: relative;

  .workspace-content {
    display: flex;
    height: 100%;
    width: 100%;
  }

}

.dashboard-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
