.main-content {
  display: flex;
  height: 100%;
  position: relative;

  .dashboard-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .workspace-content {
    display: flex;
    height: 100%;
    width: 100%;
  }

}
