---
title: 04· Code of Conduct
desc: Learn about contributing to the Penpot project! This page outlines the Code of Conduct to participate in Penpot's project and community.
---

<h1 id="coc">Code of conduct</h1>

<p>As contributors and maintainers of this project, we pledge to respect all people who contribute through reporting issues, posting feature requests, updating documentation, submitting pull requests or patches, and other activities.</p>
<p>We are committed to making participation in this project a harassment-free experience for everyone, regardless of level of experience, gender, gender identity and expression, sexual orientation, disability, personal appearance, body size, race, ethnicity, age, or religion.</p>
<p>We pledge to act and interact in ways that contribute to an open, welcoming, diverse, inclusive, and healthy community.</p>

<h2>Scope</h2>

<p>This code of conduct applies both within project spaces and in public spaces when an individual is representing Penpot or its community.</p>
<p>It includes private communications (via email, DM, etc); when users breach the code of conduct in a private setting, it may affect their rigth
to post publicly.</p>

<h2>Our Standards</h2>

<p>Examples of behavior that contributes to a positive environment for our community include:</p>
<ul>
<li>Demonstrating empathy and kindness toward other people</li>
<li>Being respectful of differing opinions, viewpoints, and experiences</li>
<li>Giving and gracefully accepting constructive feedback</li>
<li>Accepting responsibility and apologizing to those affected by our mistakes, and learning from the experience</li>
<li>Focusing on what is best not just for us as individuals, but for the overall community</li>
</ul>

<p>Examples of unacceptable behavior by participants include:
<ul>
<li>The use of sexual language or imagery and sexual attention or advances of any kind</li>
<li>Derogatory comments or personal attacks, trolling.</li>
<li>Public or private harassment, stalking, insults.</li>
<li>Other unprofessional conduct that could reasonably be considered inappropriate in a professional setting, such as:
    <ul>
        <li>Making condescending or dismissive remarks about others’ contributions.</li>
        <li>Sharing confidential or private information without permission.</li>
        <li>Dismissing or belittling reports of harassment or inappropriate behavior.</li>
        <li>Continuing unwanted interactions after being asked to stop (e.g., repeated unsolicited direct messages).</li>
        <li>Abusing positions of power within the project to intimidate or exclude others.</li>
        <li>Spamming or excessive self-promotion unrelated to the project.</li>
        <li>Using aggressive or passive-aggressive language habitually.</li>
        <li>Consistently ignoring constructive feedback or project guidelines.</li>
    </ul>
</li>
</ul>

<h2>Enforcement responsabilities</h2>

<p>Project maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct. Project maintainers who do not follow the Code of Conduct may be removed from the project team. Community leaders will follow these guidelines:</p>

<ul>
<li>For a <b>mild infraction</b>, we'll give an informal or private warning; we'll remind the Code of Conduct.</li>
<li>For a <b>moderate infraction</b>, we'll issue a formal or public warning, and we may impose a temporary ban.</li>
<li>For a <b>severe infraction</b>, the consequence may be a permanent ban from any sort of public interaction within the community. Depending on the type of violation, we would escalate the issue to the relevant authorities.</li>
</ul>

<p>Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting code-of-conduct@penpot.app.</p>

<h2>Attribution</h2>

<p>This Code of Conduct is adapted from the Contributor Covenant, version 2.1.0, available from <a href="https://www.contributor-covenant.org/version/2/1/code_of_conduct/" target="_blank">https://www.contributor-covenant.org/version/2/1/code_of_conduct/</a></p>
