---
title: 02· Translations
---

<h1 id="translations">Translations</h1>

<p class="main-paragraph">Thank you for interest in contribute translating Penpot. Here you will find ways to do it.</p>

<h2 id="translations-howto">How to become a Penpot translator</h2>
<p>We are using <a href="https://hosted.weblate.org/projects/penpot/frontend/" target="_blank">Weblate</a> as translation platform, so the first thing you need to be a Penpot translator is to have a Weblate account (you can <a href="https://hosted.weblate.org/accounts/register/" target="_blank">register here</a>).</p>
<p>To start translating at Penpot:</p>
<ol>
<li>Open a <a href="https://github.com/penpot/penpot/issues" target="_blank">github issue</a> giving details about the language you want to translate (language), the type of translation (new language, new translation or change an existing translation) and your Weblate user.</li>
<li>If everything is correct we will get back to you providing you permissions to the actions needed.</li>
<li>You also might want to take a look at the guide for <a href="https://docs.weblate.org/en/latest/user/translating.html" target="_blank">Translating using Weblate</a>.</li>
</ol>

<h2 id="translations-howto">Add a new language</h2>
<p>To add a language that is still not among the Penpot language options:</p>
<ol>
<li>Go to the <a href="https://hosted.weblate.org/projects/penpot/frontend/" target="_blank">languages list</a>.</li>
<li>Press the "Start new translation" button.</li>
<li>Choose the language you want to translate to.</li>
<li>Press the "Start new translation" button at the start new translation page.</li>
<li>Start translating strings for the new language :)</li>
</ol>
<p><img src="/img/translations-start.png" alt="translations" /></p>
<p><img src="/img/translations-start-translation.png" alt="translations" /></p>


<h2 id="translations-howto">Add a new translation</h2>
<p>To add a new translation (a string with a lacking translation for a certain language) follow the next steps:</p>
<ol>
<li>Go to the <a href="https://hosted.weblate.org/projects/penpot/frontend/" target="_blank">languages list</a>.</li>
<li>Click the edit button (pencil icon) close to the name of the language where you want to add the missing translation or translations.</li>
<li>Find and select the translation/s to complete.</li>
<li>Complete the translation in the required input field.</li>
<li>Press the "Save· button.</li>
<li>Repeat the action with as many translation strings you can / you want ;)</li>
</ol>
<p>Saved new translations will automatically get the status "waiting for review". Our team will periodically check strings waiting for review and, if considered correct, will approve them.</p>
<p><img src="/img/translations-lang-list.png" alt="translations" /></p>
<p><img src="/img/translations-strings-list.png" alt="translations" /></p>


<h2 id="translations-howto">Change an approved translation</h2>
<p>To edit an already approved translation string follow the next steps:</p>
<ol>
<li>Go to the <a href="https://hosted.weblate.org/projects/penpot/frontend/" target="_blank">languages list</a>.</li>
<li>Click the name of the language where is the translation you want to change.</li>
<li>Click the Browse button.</li>
<li>Find and select the translation/s to complete.</li>
<li>Change the translation in the input field.</li>
<li>Press the "Save" button if you have permissions.</li>
<li>If you don't have permissions to Save you can still press "Suggest" to make a suggestion.</li>
</ol>
<p>Saved editions will get the status "Waiting for review". Suggestions will get the status "Approved strings with suggestions". Our team will periodically check strings waiting for review and, if considered correct, will approve them.</p>
<p><img src="/img/translations-lang-state.png" alt="translations" /></p>
