location /mcp/ws {
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_pass $PENPOT_MCP_URI_WS;
    proxy_http_version 1.1;
}

location /mcp/stream {
    proxy_pass $PENPOT_MCP_URI/mcp;
    proxy_http_version 1.1;
}

location /mcp/sse {
    proxy_pass $PENPOT_MCP_URI/sse;
    proxy_http_version 1.1;
}
