---
title: User guide
desc: Learn everything from interface basics to advanced features like prototyping and design sharing with Penpot's comprehensive user guide! Free access.
eleventyNavigation:
  key: User guide
  order: 2
---

<div class="main-illus">
  <img src="/img/home-userguide.png" alt="User guide" border="0">
</div>

<h1 id="user-guide">Penpot User Guide</h1>

<p class="main-paragraph">In this documentation you will find (almost) everything you need to know about how to work with Penpot, from the interface basics to advanced functionality. Learn the details on topics such as prototyping, organizing your designs, or sharing, to get the most out of Penpot.</p>

<p class="advice">This documentation is a work in progress that will be updated frequently. If you have a suggestion, see something is missing or find anything that needs correcting, please write to us at <a href="mailto:support@penpot.app" target="_blank">support@penpot.app</a>.</p>

<ul class="intro-sections">
  <li>
    <a href="/user-guide/introduction/quickstart">
      <h2>Quickstart</h2>
      <p>Ways to start with Penpot</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/the-interface/">
      <h2>The interface</h2>
      <p>Penpot's main areas and features</p>
    </a>
  </li>
</ul>
