<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>UXBOX - The Open-Source prototyping tool</title>
    <link href="{{& cssfile}}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/favicon.png" />
  </head>
  <body>
    <section id="app" tabindex="1"></section>
    <section id="lightbox" tabindex="2"></section>
    <section id="loader" tabindex="3"></section>
    <script src="{{& jsfile}}"></script>
    <script>uxbox.main.init()</script>
  </body>
</html>
