{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  org.clojure/tools.cli {:mvn/version "1.0.214"}
  metosin/jsonista {:mvn/version "0.3.7"}
  org.clojure/clojurescript {:mvn/version "1.11.60"}
  org.clojure/test.check {:mvn/version "1.1.1"}

  ;; Logging
  org.apache.logging.log4j/log4j-api {:mvn/version "2.19.0"}
  org.apache.logging.log4j/log4j-core {:mvn/version "2.19.0"}
  org.apache.logging.log4j/log4j-web {:mvn/version "2.19.0"}
  org.apache.logging.log4j/log4j-jul {:mvn/version "2.19.0"}
  org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.19.0"}
  org.slf4j/slf4j-api {:mvn/version "2.0.6"}
  pl.tkowalcz.tjahzi/log4j2-appender {:mvn/version "0.9.26"}

  selmer/selmer {:mvn/version "1.12.55"}
  criterium/criterium {:mvn/version "0.4.6"}

  metosin/malli {:mvn/version "0.10.3"}

  expound/expound {:mvn/version "0.9.0"}
  com.cognitect/transit-clj {:mvn/version "1.0.329"}
  com.cognitect/transit-cljs {:mvn/version "0.8.280"}
  java-http-clj/java-http-clj {:mvn/version "0.4.3"}

  funcool/cuerdas {:mvn/version "2022.06.16-403"}
  funcool/promesa
  {:git/tag "11.0-alpha13"
   :git/sha "f6cab38"
   :git/url "https://github.com/funcool/promesa.git"}

  lambdaisland/uri {:mvn/version "1.13.95"
                    :exclusions [org.clojure/data.json]}

  frankiesardo/linked {:mvn/version "1.3.0"}

  funcool/datoteka {:mvn/version "3.0.66"
                    :exclusions [funcool/promesa]}
  com.sun.mail/jakarta.mail {:mvn/version "2.0.1"}
  org.la4j/la4j {:mvn/version "0.6.0"}

  ;; exception printing
  fipp/fipp {:mvn/version "0.6.26"}
  io.aviso/pretty {:mvn/version "1.3"}
  environ/environ {:mvn/version "1.2.0"}}
 :paths ["src" "target/classes"]
 :aliases
 {:dev
  {:extra-deps
   {org.clojure/tools.namespace {:mvn/version "RELEASE"}
    thheller/shadow-cljs {:mvn/version "2.20.16"}
    com.bhauman/rebel-readline {:mvn/version "RELEASE"}
    criterium/criterium {:mvn/version "RELEASE"}
    mockery/mockery {:mvn/version "RELEASE"}}
   :extra-paths ["test" "dev"]}

  :build
  {:extra-deps
   {io.github.clojure/tools.build {:git/tag "v0.9.3" :git/sha "e537cd1"}}
   :ns-default build}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :shadow-cljs
  {:main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}

