{:deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  org.clojure/core.async {:mvn/version "1.4.627"}
  org.clojure/tools.cli {:mvn/version "1.0.206"}
  metosin/jsonista {:mvn/version "0.3.4"}
  org.clojure/clojurescript {:mvn/version "1.10.891"}

  ;; Logging
  org.clojure/tools.logging {:mvn/version "1.1.0"}
  org.apache.logging.log4j/log4j-api {:mvn/version "2.16.0"}
  org.apache.logging.log4j/log4j-core {:mvn/version "2.16.0"}
  org.apache.logging.log4j/log4j-web {:mvn/version "2.16.0"}
  org.apache.logging.log4j/log4j-jul {:mvn/version "2.16.0"}
  org.apache.logging.log4j/log4j-slf4j18-impl {:mvn/version "2.16.0"}
  org.slf4j/slf4j-api {:mvn/version "2.0.0-alpha1"}
  org.slf4j/jcl-over-slf4j {:mvn/version "2.0.0-alpha1"}
  org.slf4j/log4j-over-slf4j {:mvn/version "2.0.0-alpha1"}
  org.slf4j/osgi-over-slf4j {:mvn/version "2.0.0-alpha1"}
  org.slf4j/jul-to-slf4j {:mvn/version "2.0.0-alpha1"}
  com.lmax/disruptor {:mvn/version "3.4.4"}

  selmer/selmer {:mvn/version "1.12.45"}
  expound/expound {:mvn/version "0.8.10"}
  com.cognitect/transit-clj {:mvn/version "1.0.324"}
  com.cognitect/transit-cljs {:mvn/version "0.8.269"}
  java-http-clj/java-http-clj {:mvn/version "0.4.3"}

  funcool/promesa {:mvn/version "6.0.2"}
  funcool/cuerdas {:mvn/version "2021.05.29-0"}

  lambdaisland/uri {:mvn/version "1.11.86"
                    :exclusions [org.clojure/data.json]}

  frankiesardo/linked {:mvn/version "1.3.0"}
  danlentz/clj-uuid {:mvn/version "0.1.9"}
  commons-io/commons-io {:mvn/version "2.11.0"}
  com.sun.mail/jakarta.mail {:mvn/version "2.0.1"}

  ;; exception printing
  io.aviso/pretty {:mvn/version "1.1"}
  environ/environ {:mvn/version "1.2.0"}}
 :paths ["src"]
 :aliases
 {:dev
  {:extra-deps
   {org.clojure/tools.namespace {:mvn/version "RELEASE"}
    org.clojure/test.check {:mvn/version "RELEASE"}
    org.clojure/tools.deps.alpha {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline {:mvn/version "RELEASE"}
    thheller/shadow-cljs {:mvn/version "2.16.6"}
    criterium/criterium {:mvn/version "RELEASE"}
    mockery/mockery {:mvn/version "RELEASE"}}
   :extra-paths ["test" "dev"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
   :main-opts ["-m" "kaocha.runner"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}}
   :exec-fn cognitect.test-runner.api/test}

  :shadow-cljs
  {:main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}

