{:deps
 {org.clojure/clojure {:mvn/version "1.12.2"}
  org.clojure/data.json {:mvn/version "2.5.1"}
  org.clojure/tools.cli {:mvn/version "1.1.230"}
  org.clojure/test.check {:mvn/version "1.1.1"}
  org.clojure/data.fressian {:mvn/version "1.1.0"}
  org.clojure/clojurescript {:mvn/version "1.12.42"}

  ;; Logging
  org.apache.logging.log4j/log4j-api {:mvn/version "2.24.3"}
  org.apache.logging.log4j/log4j-core {:mvn/version "2.24.3"}
  org.apache.logging.log4j/log4j-web {:mvn/version "2.24.3"}
  org.apache.logging.log4j/log4j-jul {:mvn/version "2.24.3"}
  org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.24.3"}
  org.slf4j/slf4j-api {:mvn/version "2.0.17"}
  pl.tkowalcz.tjahzi/log4j2-appender {:mvn/version "0.9.32"}

  selmer/selmer {:mvn/version "1.12.62"}
  criterium/criterium {:mvn/version "0.4.6"}

  metosin/jsonista {:mvn/version "0.3.13"}
  metosin/malli {:mvn/version "0.18.0"}

  expound/expound {:mvn/version "0.9.0"}
  com.cognitect/transit-clj {:mvn/version "1.0.333"}
  com.cognitect/transit-cljs {:mvn/version "0.8.280"}
  java-http-clj/java-http-clj {:mvn/version "0.4.3"}
  integrant/integrant {:mvn/version "0.13.1"}

  funcool/tubax {:mvn/version "2021.05.20-0"}
  funcool/cuerdas {:mvn/version "2025.06.16-414"}
  funcool/promesa
  {:git/sha "46048fc0d4bf5466a2a4121f5d52aefa6337f2e8"
   :git/url "https://github.com/funcool/promesa"}

  funcool/datoteka
  {:git/tag "4.0.0"
   :git/sha "3372f3a"
   :git/url "https://github.com/funcool/datoteka"}

  lambdaisland/uri {:mvn/version "1.19.155"
                    :exclusions [org.clojure/data.json]}

  frankiesardo/linked {:mvn/version "1.3.0"}

  com.sun.mail/jakarta.mail {:mvn/version "2.0.2"}
  org.la4j/la4j {:mvn/version "0.6.0"}

  ;; exception printing
  fipp/fipp {:mvn/version "0.6.27"}

  me.flowthing/pp {:mvn/version "2024-11-13.77"}


  io.aviso/pretty {:mvn/version "1.4.4"}
  environ/environ {:mvn/version "1.2.0"}}
 :paths ["src" "vendor" "target/classes"]
 :aliases
 {:dev
  {:extra-deps
   {org.clojure/tools.namespace {:mvn/version "RELEASE"}
    thheller/shadow-cljs {:mvn/version "3.1.5"}
    com.clojure-goes-fast/clj-async-profiler {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline {:mvn/version "RELEASE"}
    criterium/criterium {:mvn/version "RELEASE"}
    mockery/mockery {:mvn/version "RELEASE"}}
   :extra-paths ["test" "dev"]}

  :build
  {:extra-deps
   {io.github.clojure/tools.build {:git/tag "v0.10.9" :git/sha "e405aac"}}
   :ns-default build}

  :test
  {:main-opts ["-m" "kaocha.runner"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :shadow-cljs
  {:main-opts ["-m" "shadow.cljs.devtools.cli"]
   :jvm-opts ["--sun-misc-unsafe-memory-access=allow"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}
