---
title: 01· Reporting bugs
---

<h1 id="reporting-bugs">Reporting bugs</h1>

<p class="main-paragraph">Bug hunting is not difficult if you know how.</p>

<h2 id="reporting-bugs-howto">How to report a bug</h2>

<p>We are using <a href="https://github.com/penpot/penpot/issues" target="_blank">GitHub Issues</a> for our public bugs. We keep a close eye on this and try to make it clear when we have an internal fix in progress. Before filing a new task, try to make sure your problem doesn't already exist.</p>

<p>If you found a bug, please report it, as far as possible including:</p>

<ul>
  <li>a detailed explanation of steps to reproduce the error.</li>
  <li>a browser and the browser version used.</li>
  <li>a dev tools console exception stack trace (if it is available).</li>
</ul>

<p>Consider sending us an email first at <a href="mailto:support@penpot.app">support@penpot.app</a> if you discovered a bug that you'd prefer to discuss in confidence (such as a security bug).</p>

<p><strong>We don't have formal bug bounty program for security reports; this is an open source application and your contribution will be recognized in the changelog.</strong></p>
