<table class="footer-wrap">
  <tbody>
    <tr>
      <td></td>
      <td class="container">
        <div class="content">
          <table>
            <tbody>
              <tr>
                <td>
                  <div style="text-align: center;">
                    <a href="#" target="_blank">
                      <img src="{{#static}}images/email/twitter.png{{/static}}"
                        style="display: inline-block; width: 25px; margin-right: 5px;" />
                    </a>
                    <a href="#" target="_blank">
                      <img src="{{#static}}images/email/github.png{{/static}}"
                        style="display: inline-block; width: 25px; margin-right: 5px;" />
                    </a>
                    <a href="#" target="_blank">
                      <img src="{{#static}}images/email/linkedin.png{{/static}}"
                      style="display: inline-block; width: 25px; margin-right: 5px;" />
                    </a>
                  </div>
                </td>
              </tr>
              {{#comment}}
              <tr>
                <td align="center">
                  <p>
                    <span>Sent from UXBOX | </span>
                    <a href="#" target="_blank">
                      <unsubscribe>Email preferences</unsubscribe>
                    </a>
                  </p>
                </td>
              </tr>
              {{/comment}}
            </tbody>
          </table>
        </div>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
