---
title: Prototyping & testing
order: 4
desc: Begin with the Penpot user guide! Get quickstarts, shortcuts, and tutorials. Learn the interface, layers, objects, styling, and more.
---

<h1 id="section-1">Prototyping & testing</h1>

<ul class="intro-sections">
  <li>
    <a href="/user-guide/prototyping-testing/prototyping">
      <h2>Prototyping →</h2>
      <p>Build interactive prototypes to mimic your product behaviour</p>
    </a>
  </li>
    <li>
    <a href="/user-guide/prototyping-testing/testing-view-mode">
      <h2>Testing: View mode →</h2>
      <p>Test your designs and play the interactions</p>
    </a>
  </li>
</ul>
