---
title: Account & teams
order: 8
desc: Begin with the Penpot user guide! Get quickstarts, shortcuts, and tutorials. Learn the interface, layers, objects, styling, and more.
---

<h1 id="section-1">Account & teams</h1>

<ul class="intro-sections">
  <li>
    <a href="/user-guide/account-teams/your-account">
      <h2>Your account →</h2>
      <p>Access your account settings and manage personal access tokens</p>
    </a>
  </li>
    <li>
    <a href="/user-guide/account-teams/teams">
      <h2>Teams →</h2>
      <p>Create and manage your teams</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/account-teams/comments/">
      <h2>Comments →</h2>
      <p>Give and receive feedback right over your designs</p>
    </a>
  </li>
</ul>
