---
title: Teams
order: 2
desc: Manage teams and roles with Penpot's collaboration features! Learn how to manage teams, roles (Viewer, Editor, Admin, Owner), send invites and use webhooks.
---

<h1 id="teams">Teams</h1>
<p class="main-paragraph">A team is a group of members who collaborate on a collection of projects.
Team members are allowed to work with any project or file within the team. The actions that each team
member is allowed to do depends on their permissions.</p>
<p class="main-paragraph">At Penpot you can create and join as many teams as you need and add all necessary stakeholders with no team size limits.</p>

<h2 id="teams-management">Manage teams</h2>
<p>At Penpot you can create as many teams as you need and be invited to teams owned by others. Learn how to manage them.</p>

<h3>Select team</h3>
<p>At the top left of the dashboard you can find the team selector.</p>

<p>"Your Penpot" is the name of your personal space at Penpot. It is like any other team but in which no members can be invited so that you will always have your own private dashboard. Create or join other teams to collaborate with other Penpot users.</p>
<figure><img src="/img/teams/team-selector.webp" alt="Teams selector" /></figure>

<h3>Create teams</h3>
<p>To create a new team go to the bottom of the team selector and press "+ Create new team". Then you will be asked to enter a team name and that's it. Once a new team is created you are able to invite new team members.</p>
<figure><img src="/img/teams/team-selector-projects.webp" alt="Teams selector" /></figure>

<h3>Delete and leave teams</h3>
<p>All members can leave the team anytime from the same menu.</p>
<p>Only the team owner can delete a team. The option can be found at the team menu (the three dots at the right side). When deleting a team all projects and files belonging to it will be permanently deleted.</p>
<figure><img src="/img/teams/team-selector-delete.webp" alt="Teams selector" /></figure>

<h3>Team settings</h3>
<p>At the team settings you can see the information about how many members, projects and files belong to it. Team name and profile picture can be updated.</p>

<h2 id="teams-members">Team members</h2>
<p>At the team members area you can view all the users that are inside the team and manage them according to your permissions.</p>
<figure><img src="/img/teams/team-members.webp" alt="Team members" /></figure>

<h3>Team roles</h3>
<p>These are the team roles currently available at Penpot:</p>
<ul>
  <li><strong>Viewer:</strong> Viewers can view, comment on and inspect files but will not be able to edit them, nor do they have permissions to manage team settings.</strong></li>
  <li><strong>Editor:</strong> Editors can create, import, edit and manage files and libraries, but do not have permissions to manage team settings.</strong></li>
  <li><strong>Admin:</strong> Admins have the same permissions as editors, with the added ability to change every other member's role except owners. They can invite members and update team settings.</strong></li>
  <li><strong>Owner:</strong> There's only one owner per team, the role is automatically assigned to the team creator. Owners have all the permissions of admins, with the additional ability to change any member's role, including transferring ownership. Owners can update team settings, invite members and delete teams.</strong></li>
</ul>

<h3>Transfer ownership</h3>
<p>An owner can transfer their ownership to another team member anytime and is requested to transfer it before leaving the team.</p>
<figure><img src="/img/teams/team-transfer.webp" alt="Transfer team" /></figure>

<h2 id="teams-invites">Team invitations</h2>
<h3>Invite people to a team</h3>
<p>You can invite people to join the team using the "Invite to team" window. Add their emails separated by comma, select the role that will be assigned to them and press "Send invitation". An invitation will be sent to each of the added emails that still will need to be accepted.</p>
<figure><img src="/img/teams/team-invite.webp" alt="Invite to team" /></figure>

<h2>Invitations status</h2>
<p>Check the status of a team invitations at the "Invitations" section. Invitations can be pending (still valid but not accepted yet) or expired.</p>
<figure><img src="/img/teams/team-invitations.webp" alt="Team invitations" /></figure>

<h3>Invitations options</h3>
<p>You can perform the following actions over existing invitations:</p>
<ul>
  <li><strong>Copy link:</strong> Will copy to your clipboard the same link that has been sent via email with the invitation, so you can have other ways to pass it to the invited person. This is specially useful for self-hosted installations, where sometimes SMTP email is not configured.</strong></li>
  <li><strong>Resend invitation:</strong> Will send the email invitation again.</strong></li>
  <li><strong>Delete invitation:</strong> Will remove the invitation from your invitation list, canceling it if is still pending.</strong></li>
</ul>
<figure><img src="/img/teams/team-invitations-actions.webp" alt="Team invitations actions" /></figure>


