---
title: Your account
order: 1
desc: Learn how to import and export files in Penpot, the free, open-source design tool. Discover file formats, backups, sharing, and library management.
---

<h1 id="account">Your account</h1>
<p class="main-paragraph">Your account settings can be changed at the user area, in <b>Your account</b>. Here you can make changes to your profile, password or account language, as well as generate personal access tokens and access release notes.</p>

<h3 id="your-account-profile">Profile
  <a class="direct-link" href="#your-account-profile">#</a>
</h3>
<p>If you want to change the email address associated to your account or remove your account entirely, this can be done in the <b>Profile</b> section.</p>
<figure>
  <img src="/img/interface/youraccount-profile.webp" alt="Penpot's profile" />
</figure>

<h3 id="your-account-password">Password
  <a class="direct-link" href="#your-account-password">#</a>
</h3>
<p>If you want to change your password to a new one, this can be done in the <b>Password</b> section.</p>
<figure>
  <img src="/img/interface/youraccount-password.webp" alt="Penpot's password" />
</figure>

<h3 id="your-account-notifications">Notifications
  <a class="direct-link" href="#your-account-notifications">#</a>
</h3>
<p>At the <strong>Notifications</strong> section you can configure the email and dashboard notifications.</p>
<figure>
  <img src="/img/interface/youraccount-notifications.webp" alt="Penpot's notifications" />
</figure>

<h3 id="your-account-settings">Settings
  <a class="direct-link" href="#your-account-settings">#</a>
</h3>
<p>At the <strong>Settings</strong> section you can change the language and the UI color theme.</p>
<figure>
  <img src="/img/interface/youraccount-settings.webp" alt="Penpot's settings" />
</figure>

<h3 id="interface-ui-theme">UI Theme</h3>
<p>Penpot's default interface is dark but you can switch anytime to a light option. You have 2 ways to change the theme:</p>
<ul>
  <li>From "Your account" > "Settings".</li>
  <li>Using the shortcut <kbd>Alt/⌥</kbd> + <kbd>M</kbd>.</li>
</ul>

<figure>
  <a href="/img/interface/dashboard-light.webp" target="_blank">
    <img src="/img/interface/dashboard-light.webp" alt="Penpot's dashboard" />
  </a>
  <figcaption>Penpot's dashboard in light mode</figcaption>
</figure>
<figure>
  <a href="/img/interface/workspace-light.webp" target="_blank">
    <img src="/img/interface/workspace-light.webp" alt="Penpot's workspace" />
  </a>
  <figcaption>Penpot's workspace in light mode</figcaption>
</figure>
<figure>
  <a href="/img/interface/viewmode-light.webp" target="_blank">
    <img src="/img/interface/viewmode-light.webp" alt="Penpot's view mode" />
  </a>
  <figcaption>Penpot's view mode in light mode</figcaption>
</figure>


<h3 id="your-account-accesstokens">Access tokens
  <a class="direct-link" href="#your-account-accesstokens">#</a>
</h3>
<p>At the <strong>Asset tokens</strong> section you can manage your access tokens. <a href="https://help.penpot.app/technical-guide/integration/#access-tokens" target="_blank">Read more about access tokens here</a>.</p>


