<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>UXBOX - The Open-Source prototyping tool</title>
    <link id="theme" href="/css/main-{{& th}}.css?ts={{& ts}}" 
          rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/favicon.png" />
    {{! <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> }}
  </head>
  <body>
    <section id="app" tabindex="1"></section>
    <section id="modal"></section>
    <script>
     window.appTranslations = JSON.parse({{& translations }});
     window.appThemes = {{& themes }};
    </script>
    {{# manifest}}

    <script>window.appWorkerURI="{{& worker}}"</script>
    <script src="{{& config}}"></script>
    <script src="{{& shared}}"></script>
    <script src="{{& main}}"></script>
    {{/manifest}}
  </body>
</html>
