<link href="./css/ds.css?ts={{& ts}}" rel="stylesheet" type="text/css" />

<style>
  body {
    overflow-y: scroll;
  }

  #storybook-root {
    height: 100%;
  }
</style>

<script>
  window.penpotTranslations = JSON.parse({{& translations}});
</script>
