<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Penpot - Rasterizer</title>
    <link rel="icon" href="images/favicon.png" />

    <script>
      window.penpotVersion = "%version%";
      window.penpotBuildDate = "%buildDate%";
    </script>

    {{# manifest}}
    <script>window.penpotWorkerURI="{{& worker_main}}"</script>
    <script src="{{& config}}"></script>
    <script src="{{& polyfills}}"></script>
    {{/manifest}}

  </head>
  <body>
    {{# manifest}}
    <script src="js/libs.js?ts={{& ts}}"></script>
    <script src="{{& shared}}"></script>
    <script src="{{& rasterizer}}"></script>
    {{/manifest}}
  </body>
</html>
