<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Penpot - Rasterizer</title>
    <link rel="icon" href="images/favicon.png" />

    <script>
      globalThis.penpotVersion = "{{& version}}";
      globalThis.penpotBuildDate = "{{& build_date}}";
      globalThis.penpotWorkerURI = "{{& manifest.worker_main}}";
    </script>

    {{# manifest}}
    <script src="{{& config}}"></script>
    <script src="{{& polyfills}}"></script>
    <script type="importmap">{{& importmap }}</script>
    {{/manifest}}
  </head>
  <body>
    {{# manifest}}
    <script type="module" src="{{& libs}}"></script>
    <script type="module">
      import { init } from "{{& rasterizer_main}}";
      init();
    </script>
    {{/manifest}}
  </body>
</html>
