<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Penpot - Render</title>
    <link rel="icon" href="images/favicon.png" />

    <script>
      globalThis.penpotVersion = "{{& version}}";
      globalThis.penpotBuildDate = "{{& build_date}}";
    </script>

    {{# manifest}}
    <script src="{{& config}}"></script>
    <script src="{{& polyfills}}"></script>
    <script type="importmap">{{& importmap }}</script>
    {{/manifest}}
  </head>
  <body>
    <div id="app"></div>
    {{# manifest}}
    <script type="module" src="{{& libs}}"></script>
    <script type="module">
      import { init } from "{{& render_main}}";
      init();
    </script>
    {{/manifest}}
  </body>
</html>
