<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Penpot - Render</title>
    <link rel="icon" href="images/favicon.png" />

    <script>
      window.penpotVersion = "%version%";
    </script>

    {{# manifest}}
    <script src="{{& config}}"></script>
    <script src="{{& polyfills}}"></script>
    {{/manifest}}
  </head>
  <body>
    <div id="app"></div>
    {{# manifest}}
    <script src="js/libs.js?ts={{& ts}}"></script>
    <script src="{{& shared}}"></script>
    <script src="{{& render}}"></script>
    {{/manifest}}
  </body>
</html>
