<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Penpot - Thumbnail Renderer</title>
    <link rel="icon" href="images/favicon.png" />

    <script>
      window.penpotVersion = "%version%";
      window.penpotBuildDate = "%buildDate%";
    </script>

    {{# manifest}}
    <script>window.penpotWorkerURI="{{& worker}}"</script>
    <script src="{{& config}}"></script>
    <script src="{{& polyfills}}"></script>
    {{/manifest}}

  </head>
  <body>
    {{# manifest}}
    <script src="{{& shared}}"></script>
    <script src="{{& thumbnail-renderer}}"></script>
    {{/manifest}}
  </body>
</html>
