<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>UXBOX View</title>
    <link href="/css/view.css?ts={{& ts}}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/favicon.png" />
  </head>
  <body>
    <section id="app" tabindex="1"></section>
    <section id="loader"></section>
    <section id="modal"></section>
    <script>
      window.uxboxConfig = JSON.parse({{& config }});
      window.uxboxTranslations = JSON.parse({{& translations }});
    </script>
    <script src="/js/shared.js?ts={{& ts}}"></script>
    <script src="/js/view.js?ts={{& ts}}"></script>
    <script>uxbox.view.init()</script>
  </body>
</html>
