// This is a standard color scheme for UXBOX UI
// Hope you like ir and feel free to create your own one!

// Main color
$main-ui-color: $color-primary;
$intense-main-ui-color: darken($main-ui-color, 25%);

$ui-flavour: #90969d;

// Background colors
$primary-ui-bg: #ffffff;
$secondary-ui-bg: mix($ui-flavour, $color-white, $mix-percentage-lighter);
$dark-ui-bg: mix($ui-flavour, $color-white, $mix-percentage-light);

// Border color
$intense-ui-border: $ui-flavour;
$medium-ui-border: mix($ui-flavour, $color-white, $mix-percentage-light);
$soft-ui-border: lighten($medium-ui-border, 18%);

// Icon colors
$intense-ui-icons: mix($ui-flavour, $color-black, $mix-percentage-dark);
$medium-ui-icons: mix($ui-flavour, $color-white, $mix-percentage-light);
$soft-ui-icons: mix($ui-flavour, $color-white, $mix-percentage-lighter);

// Text colors
$intense-ui-text: mix($ui-flavour, $color-black, $mix-percentage-darker);
$medium-ui-text: $ui-flavour;
$soft-ui-text: mix($ui-flavour, $color-white, $mix-percentage-light);

// Canvas colors
$canvas-bg: mix($ui-flavour, $color-white, $mix-percentage-lighter);
$scrollbar-bg: mix($ui-flavour, $color-white, $mix-percentage-light);
