---
title: 01· Introduction
---

<h1 id="section-1">Introduction</h1>

<ul class="intro-sections">
  <li>
    <a href="/user-guide/introduction/quickstart">
      <h2>Quickstart →</h2>
      <p>Ways to start with Penpot</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/introduction/shortcuts">
      <h2>Shortcuts →</h2>
      <p>Speed your design workflow</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/introduction/info">
      <h2>Info & tutorials →</h2>
      <p>Info of interest about Penpot</p>
    </a>
  </li>
</ul>
