---
title: Tutorials & info
---

<h1 id="section-1-1">Tutorials & info</h1>

<p class="main-paragraph">Some useful links to better understand Penpot through answers and tutorials.</p>

<h2 id="dev-diaries">Dev Diaries</h2>
<p>The Dev Diaries are our release notes, where we jot down every new feature, enhancement and fix included in every release. There are also kudos to community contributors <3</p>

<p>Wanna know what's new? take a look at our <a href="https://penpot.app/dev-diaries" target="_blank">Dev Diaries</a>.</p>

<h2 id="video-tutorials">Video tutorials</h2>
<p>Suscribe to the <a href="https://www.youtube.com/channel/UCAqS8G72uv9P5HG1IfgnQ9g" target="_blank">Penpot Youtube channel</a> to get updates when we upload new Penpot tutorials, demos of features and talks.</p>

<h2 id="faqs">Frequently asked questions</h2>
<p>If you have questions about the "Whys" or the "Hows" of Penpot we have collected and answered a bunch of the most common questions that we've been asked so far at our <a href="https://community.penpot.app/c/faq/17">Frequently Asked Questions</a>.</p>

<h2 id="faqs">Community space</h2>
<p>We launched a community space to allow for everyone to be part of the conversation. <a href="https://community.penpot.app/" target="_blank">Join the community here</a>.</p>
