-- begin :subject
Welcome to UXBOX.
-- end

-- begin :body-text
Hello {{user}}!

Welcome to UXBOX.

UXBOX team.
-- end

-- begin :body-html
<p>Hello {{user}}!</p>
<p>Welcome to UXBOX.</p>
<p>UXBOX team.</p>
-- end