-- begin :subject
Welcome to UXBOX.
-- end

-- begin :body-text
Hello {{user}}!

Welcome to UXBOX.

UXBOX team.
-- end

-- begin :body-html
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width" name="viewport" />
    <title>title</title>
    {{> ../partials/inline_style }}
  </head>
  <body bgcolor="#f6f6f6" cz-shortcut-listen="true">
    <table class="body-wrap">
      <tbody>
        <tr>
          <td></td>
          <td bgcolor="#FFFFFF" class="container">
            <div class="logo">
              <img alt="UXBOX" src="{{#static}}images/email/logo.png{{/static}}" />
            </div>
            <p>Hello {{user}}!</p>
            <p>Welcome to UXBOX.</p>
            <p>UXBOX team.</p>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
    {{> ../partials/en/footer }}
  </body>
</html>
-- end