---
title: Cloud or Self-host
order: 1
desc: Start instantly with Penpot, the open-source design and prototyping platform! Access our free user guide to learn now.
---

<h1 id="section-1-1">Cloud or Self-host</h1>

<p class="main-paragraph">You can start using Penpot right in your browser or installing it in a server of your own.</p>

<h2>In your browser</h2>
<p>To use Penpot online point your browser to <a href="https://design.penpot.app" target="_blank">design.penpot.app</a> and start designing. Use the latest Google Chrome or Mozilla Firefox for the best experience. We also provide specific support to WebKit (Safari / Epiphany).</p>
<p>You can also go to <a href="https://penpot.app" target="_blank">penpot.app</a> if you want to read more about Penpot and our new releases. There, click on the Signup button. You will be asked to create an account. We only ask for an email. There are some authentication providers available too.</p>

<h2>On your own server</h2>
<p>Currently, private Penpot instances only require basic Docker knowledge.</p>
<p>You can run your own Penpot server following the instructions at the <a href="/technical-guide/getting-started">Technical Guide</a></p>
