---
title: First Steps
order: 1
desc: Begin with the Penpot user guide! Get quickstarts, shortcuts, and tutorials. Learn the interface, layers, objects, styling, and more.
---

<h1 id="section-1">First Steps</h1>

<ul class="intro-sections">
  <li>
    <a href="/user-guide/first-steps/cloud-selfhost">
      <h2>Cloud or Selfhost →</h2>
      <p>Ways to start with Penpot</p>
    </a>
  </li>
    <li>
    <a href="/user-guide/first-steps/the-interface">
      <h2>Interface tour →</h2>
      <p>Take a tour of Penpot's main areas</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/first-steps/shortcuts">
      <h2>Shortcuts →</h2>
      <p>Speed your design workflow</p>
    </a>
  </li>
  <li>
    <a href="/user-guide/first-steps/info">
      <h2>Tutorials & info →</h2>
      <p>Useful resources to better understand Penpot</p>
    </a>
  </li>
</ul>
