---
title: Contributing
eleventyNavigation:
  key: Contributing
  order: 3
---

<div class="main-illus">
  <img src="/img/home-contributing.png" alt="User guide" border="0">
</div>

<h1 id="contributing-guide">Contributing guide.</h1>

<p class="main-paragraph">In this documentation you will find (almost) everything you need to know about how to contribute at Penpot.</p>

<ul class="intro-sections">
  <li>
    <a href="/contributing-guide/reporting-bugs">
      <h2>Reporting bugs</h2>
      <p>Easy steps to bug hunting</p>
    </a>
  </li>
  <li>
    <a href="/contributing-guide/translations">
      <h2>Translations</h2>
      <p>How to become a Penpot translator</p>
    </a>
  </li>
  <li>
    <a href="/contributing-guide/code-contributions">
      <h2>Core code contributions</h2>
      <p>Help Penpot improve its code</p>
    </a>
  </li>
  <li>
    <a href="/contributing-guide/coc">
      <h2>Code of conduct</h2>
      <p>Rules, values and principles</p>
    </a>
  </li>
  <li class="illus illus-libraries">
    <a href="https://penpot.app/libraries-templates" target="_blank">
      <h2>Libraries & templates</h2>
      <p>Share your libraries and templates or download the ones you like.</p>
    </a>
  </li>
</ul>
