.dashboard-bar {
  align-items: center;
  display: flex;
  font-size: $fs14;
  padding: $small $medium $small $x-big*2;

  .dashboard-info {
    align-items: center;
    display: flex;

    .dashboard-projects {
      font-weight: bold;
      margin-right: $medium;
    }

    .sort-by {
      margin-left: $small;
    }

    .input-select {
      background-color: transparent;
      border-color: $color-gray;
      margin-bottom: 0;
      margin-left: $medium;
      padding: 3px 15px 3px 3px;
    }

  }

  .dashboard-search {
    align-items: center;
    display: flex;
    margin-left: $small;

    .input-text {
      background: rgba(255,255,255,.4);
      border: 0;
      color: $intense-ui-text;
      padding: 4px 8px;
      margin: 0;
      max-width: 160px;
    }

    .clear-search {
      align-items: center;
      background: rgba(255,255,255,.4);
      cursor: pointer;
      display: flex;
      height: 28px;
      padding: 0 5px;

      svg {
        fill: $medium-ui-icons;
        height: 15px;
        transform: rotate(45deg);
        width: 15px;

        &:hover {
          fill: $color-danger;
        }

      }

    }

  }


  &.library-gap {
    padding: $small $medium $small 270px;
  }

}
