.library-bar {
  background-color: $color-white;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  width: 250px;

  .library-bar-inside {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 60px;

    .library-tabs {
      align-items: center;
      background-color: $color-gray-lighter;
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding-top: 12px;

      li {
        background-color: darken($color-gray-lighter, 10%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        color: $color-gray;
        cursor: pointer;
        font-weight: bold;
        padding: .6rem;

        &:hover {
          color: $color-white;
        }

        &.current {
          background-color: $color-white;
          color: $color-primary;
        }

      }

    }

    .library-elements {
      display: flex;
      flex-direction: column;
      height: 85%;
      overflow-y: auto;
      padding-bottom: 20px;

      li {
        border-bottom: 1px solid $color-gray-lighter;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .element-title {
          color: $color-gray-dark;
          font-weight: bold;
          margin-bottom: 5px;
        }

        .element-subtitle {
          color: $color-gray-light;
          font-style: italic;
        }

        &:hover,
        &.current {
          background-color: $color-primary;

          .element-title,
          .element-subtitle {
            color: $color-white;
          }
        }

      }

    }

  }

}
