.settings-bar {
  background-color: $color-gray-dark;
  bottom: 0;
  height: 100%;
  position: fixed;
  right: 0;
  width: 250px;

  .settings-bar-inside {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 30px;
    padding-top: 50px;
    height: 100%;

    .tool-window {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-height: 40%;
      //flex: 1;
      width: 100%;

      .tool-window-bar {
        align-items: center;
        background-color: $color-gray-darker;
        display: flex;
        flex-shrink: 0;
        padding: 2px $x-small;

        svg {
          fill: $color-gray;
          height: 12px;
          width: 12px;
        }

        span {
          color: $color-gray-light;
          font-weight: bold;
        }

        .tool-window-icon {
          margin-right: $small;
        }

        .tool-window-close {
          cursor: pointer;
          margin-left: auto;
          transform: rotate(45deg);

          &:hover {

            svg {
              fill: $color-gray-lighter;
            }

          }

        }

      }

      .tool-window-content {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        padding-bottom: $medium;
        .figures-catalog {
          width: 100%;
          padding: $medium $medium 0 $medium;
          select {
            width: 100%;
            margin-bottom: 0;
          }
        }

      }

    }

  }

  .layers-tools {
    background-color: $color-gray-darker;
    bottom: 0;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    width: 100%;

    .layers-tools-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0;
      width: 80px;

      li {
        cursor: pointer;

        svg {
          fill: $color-gray;
          height: 16px;
          width: 16px;

          &:hover {
            fill: $color-white;
          }

        }

        &.delete-layer {

          svg {

            &:hover {
              fill: $color-danger;
            }

          }

        }

      }

    }

  }

}

.tool-btn {
  align-items: center;
  background-color: $color-gray-light;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 94px;
  justify-content: center;
  margin: $medium 0 0 $big;
  width: 94px;

  svg {
    fill: $color-gray-darker;
    height: 52px;
    width: 52px;
  }

  &:hover {
    background-color: $color-white;
  }

  &.selected {
    background-color: $color-gray-darker;

    svg {
      fill: $color-primary;
    }

  }
}

.figure-btn {
  align-items: center;
  background-color: $color-gray-light;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 62px;
  justify-content: center;
  margin: $medium 0 0 $medium;
  width: 62px;

  svg {
    fill: $color-gray-darker;
    height: 50px;
    width: 50px;
  }

  &:hover {
    background-color: $color-white;
  }

  &.selected {
    background-color: $color-gray-darker;
    svg {
      fill: $color-primary;
    }
  }
}

.element-list {
  margin: 0;
  width: 100%;

  ul {
    margin: 0;
  }

  li {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;

    &.open {

      ul {

        li {

          .element-list-body {
            border-style: dashed;
          }

        }

      }

    }

    .element-list-body {
      align-items: center;
      border-bottom: 1px solid $color-gray-darker;
      box-sizing: border-box;
      background-color: $color-gray-dark;
      display: flex;
      padding: $small;
      width: 100%;

      svg {
        fill: $color-gray;
        height: 13px;
        margin-right: 8px;
        width: 13px;
      }

      .element-actions {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        width: 62px;
      }

      .element-icon,
      .sublevel-element {

        svg {
          fill: $color-gray-darker;
        }

      }

      .toggle-content {
        margin-left: auto;
        width: 12px;

        svg {
          fill: $color-gray-darker;
          transform: rotate(90deg);
          width: 12px;
        }

        &.inverse {
          svg { transform: rotate(270deg); }
        }

        &:hover {

          svg {
            fill: $color-white;
          }

        }

      }

      &.group {

        &.open {

          .toggle-content {
            flex-shrink: 0;

            svg {
              transform: rotate(270deg);
            }

          }

        }

      }

      span {
        color: darken($color-gray-darker, 8%);
        font-size: $fs13;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      &.selected {
        background-color: lighten($color-gray-darker, 5%);

        .element-icon {

          svg {
            fill: $color-primary;
          }

        }

        span {
          color: $color-primary;
        }

      }

      .selected {

        svg {
          fill: $color-gray-lighter;
        }

      }

      &:hover {
        border-color: $color-gray-light;

        .element-icon {

          svg {
            fill: $color-gray-lighter;
          }

        }

        span {
          color: $color-gray-lighter;
        }

      }

      &.drag-top {
        border-top: 2px solid $color-primary;
      }

      &.drag-bottom {
        border-bottom: 2px solid $color-primary;
      }

      &.drag-inside {
        border: 2px solid $color-primary;
      }

    }

  }

}
