.settings-bar {
  background-color: $primary-ui-bg;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  right: 0;
  width: 230px;
  z-index: 10;

  &.settings-bar-left {
    left: 0
  }

  .settings-bar-inside {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 50px;
    height: 100%;

    .tool-window {
      border-bottom: 1px solid $light-ui-border;
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;

      .tool-window-bar {
        align-items: center;
        border-bottom: 1px solid $light-ui-border;
        display: flex;
        flex-shrink: 0;
        padding: 2px $x-small;

        svg {
          fill: $dark-ui-icons;
          height: 12px;
          width: 12px;
        }

        span {
          color: $dark-ui-text;
          font-weight: bold;
        }

        .tool-window-icon {
          margin-right: $small;
        }

        .tool-window-close {
          cursor: pointer;
          margin-left: auto;
          transform: rotate(45deg);

          &:hover {

            svg {
              fill: $color-danger;
            }

          }

        }

      }

      .tool-window-content {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        padding-bottom: $medium;
      }

      &#layers {
        padding-bottom: 30px;
      }

    }

  }

}
