.figures-catalog {
  width: 100%;
  padding: $medium $medium 0 $medium;

  select {
    width: 100%;
    margin-bottom: 0;
  }

}

.figure-btn {
  align-items: center;
  background-color: $secondary-ui-bg;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 54px;
  justify-content: center;
  margin: $medium 0 0 $medium;
  width: 54px;

  svg {
    fill: $intense-ui-icons;
    height: 40px;
    width: 40px;
  }

  &:hover {
    background-color: $color-white;
    border-color: $soft-ui-border;
  }

  &.selected {
    background-color: $main-ui-color;

    svg {
      fill: $color-white;
    }

  }

}
