.layers-tools {
  border-top: 1px solid $medium-ui-border;
  bottom: 0;
  display: flex;
  height: 30px;
  justify-content: center;
  position: absolute;
  width: 100%;

  .layers-tools-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 80px;

    li {
      cursor: pointer;

      svg {
        fill: $medium-ui-icons;
        height: 16px;
        width: 16px;

        &:hover {
          fill: $intense-ui-text;
        }

      }

      &.delete-layer {

        svg {

          &:hover {
            fill: $color-danger;
          }

        }

      }

    }

  }

}

.element-list {
  margin: 0;
  width: 100%;

  ul {
    margin: 0;
  }

  li {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;

    &.open {

      ul {

        li {

          .element-list-body {
            border-style: dashed;
          }

        }

      }

    }

    .element-list-body {
      align-items: center;
      border-bottom: 1px solid $soft-ui-border;
      box-sizing: border-box;
      display: flex;
      padding: $small;
      width: 100%;

      svg {
        fill: $soft-ui-icons;
        height: 13px;
        margin-right: 8px;
        width: 13px;
      }

      .element-actions {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        width: 62px;
      }

      .element-icon,
      .sublevel-element {

        svg {
          fill: $medium-ui-icons;
        }

      }

      .toggle-content {
        margin-left: auto;
        width: 12px;

        svg {
          fill: $intense-ui-icons;
          transform: rotate(90deg);
          width: 12px;
        }

        &.inverse {
          svg { transform: rotate(270deg); }
        }

        &:hover {

          svg {
            fill: $medium-ui-icons;
          }

        }

      }

      &.group {

        &.open {

          .toggle-content {
            flex-shrink: 0;

            svg {
              transform: rotate(270deg);
            }

          }

        }

      }

      span {
        color: $medium-ui-text;
        font-size: $fs13;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.selected {

        .element-icon {

          svg {
            fill: $main-ui-color;
          }

        }

        span {
          color: $main-ui-color;
        }

      }

      .selected {

        svg {
          fill: $intense-ui-icons;
        }

      }

      &:hover {
        border-color: $main-ui-color;

        .element-icon {

          svg {
            fill: $intense-ui-icons;
          }

        }

        span {
          color: $intense-ui-text;
        }

      }

      &.drag-top {
        border-top: 2px solid $main-ui-color;
      }

      &.drag-bottom {
        border-bottom: 2px solid $main-ui-color;
      }

      &.drag-inside {
        border: 2px solid $main-ui-color;
      }

    }

  }

}
