.tool-bar {
  background-color: $color-gray-dark;
  bottom: 0;
  height: 100%;
  position: fixed;
  left: 0;
  width: 50px;
  z-index: 10;

  .tool-bar-inside {
    padding-top: 70px;

    .main-tools {
      align-items: center;
      display: flex;
      flex-direction: column;

      li {
        cursor: pointer;
        margin-bottom: $big;

        svg {
          fill: $color-gray-light;
          height: 25px;
          width: 25px;
        }

        &:hover {

          svg {
            fill: $color-white;
          }

        }

        &.current {

          svg {
            fill: $color-primary;
          }

        }

      }

    }

  }

}
