.workspace-content {
  background-color: $canvas-bg;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 230px 0 230px;
  position: relative;

  &.no-tool-bar-right {
    padding-right: 0;
  }

  &.no-tool-bar-left {
    padding-left: 0;
  }

  .workspace-canvas {
    box-sizing: border-box;
    height: calc(100vh - 50px);
    overflow: scroll;
    transition: none;
    width: 100%;

    .viewport {

      &.drawing {
        cursor: cell;
      }

      rect.selection-rect {
        fill: rgba(235, 215, 92, 0.1);
        stroke: #000000;
        stroke-width: 0.1px;
      }

      svg {
        g.shape {
          &.selected {
            circle.top-left { cursor: nwse-resize; }
            circle.bottom-right { cursor: nwse-resize; }
            circle.top-right { cursor: nesw-resize; }
            circle.bottom-left { cursor: nesw-resize; }
          }
        }

      }
    }

    .viewport, .page-canvas, .page-layout {
      overflow: visible;
    }
  }

  /* Rules */

  .horizontal-rule {
    transition: none;
    position: absolute;
    pointer-events: none;
    top: 0px;
  }

  .vertical-rule {
    transition: none;
    pointer-events: none;
    left: 0px;
  }

}
