.workspace-canvas {
  box-sizing: border-box;
  height: calc(100vh - 50px);
  margin: 0 240px 0 50px;
  overflow: scroll;
  width: 100%;
  transition: none;

  &.no-tool-bar {
    margin-right: 0;
  }

  .viewport {
    &.drawing {
      cursor: cell;
    }

    g.shape {
      &.selected {
        circle.top-left { cursor: nwse-resize; }
        circle.bottom-right { cursor: nwse-resize; }
        circle.top-right { cursor: nesw-resize; }
        circle.bottom-left { cursor: nesw-resize; }
      }
    }
  }

  .viewport, .page-canvas, .page-layout {
    overflow: visible;
  }


}
