;; Example climit.edn file
;; Required: permits
;; Optional: queue, ommited means Integer/MAX_VALUE
;; Optional: timeout, ommited means no timeout
;; Note: queue and timeout are excluding
{:update-file/by-profile
 {:permits 1 :queue 5}

 :update-file/global {:permits 20}

 :derive-password/global {:permits 8}
 :process-font/global  {:permits 4}
 :process-image/global {:permits 8}

 :file-thumbnail-ops/by-profile
 {:permits 2}

 :submit-audit-events/by-profile
 {:permits 1 :queue 3}}
