<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>penpot - error report {{id}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono">
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
      pre {
        margin: 0px;
        line-height: 17px;
      }

      main {
        margin: 20px;
      }

      nav {
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        padding: 5px 20px;
        display: flex;
        background: #e3e3e3;
      }

      nav > div {
        text-transform: uppercase;
        font-weight: bold;
      }

      nav > div:not(:last-child) {
        margin-right: 10px;
      }

      * {
        font-family: "JetBrains Mono", monospace; 
        font-size: 12px;
      }
      .table {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
      }

      .table-row {
        display: flex;
        /* width: 100%; */
        /* border: 1px solid red; */
      }

      .table-key {
        font-weight: 600;
        width: 60px;
        padding: 4px;

        padding-top: 40px;
        margin-top: -40px;
      }

      .table-val {
        font-weight: 200;
        color: #333;
        padding: 4px;
      }

      .multiline {
        margin-top: 15px;
        flex-direction: column;
      }

      .multiline .table-key {
        margin-bottom: 10px;
        border-bottom: 1px dashed #dddddd;
        /* padding: 4px; */
        width: unset;
      }

    </style>
  </head>
  <body>

    <nav>
      
      <div>[<a href="/dbg/error"><<</a>]</div>
      <div>[<a href="#context">context</a>]</div>
      <div>[<a href="#params">params</a>]</div>
      {% if spec-problems %}
      <div>[<a href="#edata">spec</a>]</div>
      {% endif %}

      {% if data %}
      <div>[<a href="#edata">data</a>]</div>
      {% endif %}
      {% if trace %}
      <div>[<a href="#trace">trace</a>]</div>
      {% endif %}
    </nav>
    <main>
      <div class="table">
        <div class="table-row multiline">
          <div id="context" class="table-key">CONTEXT: </div>
          <div class="table-val">
            <pre>{{context}}</pre>
          </div>
        </div>

        {% if params %}
        <div class="table-row multiline">
          <div id="params" class="table-key">PARAMS: </div>
          <div class="table-val">
            <pre>{{params}}</pre>
          </div>
        </div>
        {% endif %}

        <!-- NOTE: this is legacy, for old error data saved on the database -->
        {% if data %}
        <div class="table-row multiline">
          <div id="edata" class="table-key">ERROR DATA: </div>
          <div class="table-val">
            <pre>{{data}}</pre>
          </div>
        </div>
        {% endif %}

        {% if spec-problems %}
        <div class="table-row multiline">
          <div id="spec-problems" class="table-key">SPEC PROBLEMS: </div>
          <div class="table-val">
            <pre>{{spec-problems}}</pre>
          </div>
        </div>
        {% endif %}

        {% if trace %}
        <div class="table-row multiline">
          <div id="trace" class="table-key">TRACE:</div>
          <div class="table-val">
            <pre>{{trace}}</pre>
          </div>
        </div>
        {% endif %}
      </div>
    </main>
  </body>
</html>

