<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="60">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{YYYY-MM-dd HH:mm:ss.SSS}] %level{length=1} %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="com.zaxxer.hikari" level="error" />
    <Logger name="org.eclipse.jetty" level="error" />

    <Logger name="app.msgbus" level="error" />
    <Logger name="app.http.websocket" level="error" />
    <Logger name="app.rpc.commands.binfile" level="debug" />
    <Logger name="app.storage.tmp" level="debug" />

    <Logger name="app" level="debug" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Root level="info">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>
