;; Example rlimit.edn file
^{:refresh "30s"}
{:default
 [[:default :window "200000/h"]]

 ;; #{:command/get-teams}
 ;; [[:burst :bucket "5/5/5s"]]

 ;; #{:command/get-profile}
 ;; [[:burst :bucket "60/60/1m"]]
 }
